<template>
  <nav aria-label="top-navbar" class="navbar navbar-expand-xl sticky-top navbar-dark hsa-bg-007d7b shadow">
    <a class="navbar-brand col-3" href="./">
      <img src="../../assets/images/hsa-logo--89x39px.svg" alt="HSA" class="pt-2">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#top-nav-wrapper"
      aria-controls="top-nav-wrapper"
      aria-expanded="false"
      aria-label="Toggle Menu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      v-if="showNav !== false"
      class="collapse navbar-collapse col-xl-8 col-lg-10 col-md-12 mx-lg-auto"
      id="top-nav-wrapper"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#/table">{{$t("search")}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/table">{{$t("browse")}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidebar-left-toggle" @click="toggleSidebar">{{$t("administrate")}}</a>
          <!-- <a class="nav-link" @click.prevent="showMenu='true'">Administrera</a> -->
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown06"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >{{$t("language")}}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown06">
            <a class="dropdown-item" href="#" @click.prevent="setLocale('sv')">SV</a>
            <a class="dropdown-item" href="#" @click.prevent="setLocale('en')">EN</a>
            <a class="dropdown-item" href="#">Arabiska</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item user-display-name">
          <a class="nav-link mock-link mock-message text-nowrap" href="#"><i class="fa fa-sign-out-alt menu-icon" aria-hidden="true"></i>Inger Jansson</a>
        </li>
        <li class="nav-item alert-in-nav mock-link mock-message">
          <i class="fa fa-bell alert-icon"></i>
          <div class="alert-number">3</div>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="./">
            <i class="fa fa-sign-out menu-icon"></i>
            {{$t("logout")}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
import { i18n, UiTextService } from '@/config/UIText'
import Vue from 'vue'
Vue.use(UiTextService)

export default {
  name: 'hsaHeader',
  i18n,
  UiTextService,
  showMenu: false,
  showNav: '',
  data () {
    return {
      showNav: ''
    }
  },
  methods: {
    setLocale: function (locale) {
      UiTextService.setLocale(locale)
      this.$router.go(this.$router.currentRoute)
    },
    toggleSidebar: function () {
      console.log('Toggling sidebar')
      if (this.showMenu) {
        this.className = 'toggle-sidebar d-block'
      } else {
        this.className = 'toggle-sidebar d-none'
      }
      // alert('clicked and value: ' + this.showMenu + ' class: ' + this.className)
      this.showMenu = !this.showMenu
    },
    toggleNav: function () {
      this.showNav = !this.showNav
      console.log('inside toggle nav')
    }
  },
  computed: {}
}
</script>

<style>
</style>
