<template>
  <section role="main">
    <h1>{{$t("detailedSearch")}}</h1>
    <div class="detail-search w-100" v-on:keyup.enter="doSearch()">
      <div class="form-row">
        <div class="form-group col-lg-6">
          <label for="givenName">{{$t("givenName")}}</label>
          <input
            :disabled="searchTypes.indexOf('Person') === -1"
            type="text"
            class="form-control"
            id="givenName"
            v-model="givenName"
            name="givenName"
            :placeholder="$t('givenNamePlaceHolder')"
          >
        </div>
        <div class="form-group col-lg-6">
          <label for="lastName">{{$t('lastName')}}</label>
          <input
            v-model="lastName"
            id="lastName"
            :disabled="searchTypes.indexOf('Person') === -1"
            type="text"
            class="form-control"
            :placeholder="$t('lastNamePlaceHolder')"
          >
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-6">
          <label
            for="organizationOrUnitName"
          >{{$t("name")}} {{$t("on")}} {{$t("organisation")}}, {{$t("unit")}} {{$t("or")}} medarbetaruppdrag</label>
          <input
            type="text"
            v-model="organizationOrUnitName"
            :disabled="(searchTypes.indexOf('Organisation eller enhet') === -1 && searchTypes.indexOf('Medarbetaruppdrag') === -1)"
            class="form-control"
            id="organizationOrUnitName"
            name="organizationOrUnitName"
            placeholder="t.ex. Håbo kommun eller Svea vårdcentral"
          >
        </div>
        <div class="form-group col-lg-6">
          <label for="hsaId">{{$t("hsaId")}}</label>
          <input
            type="text"
            v-model="hsaId"
            :disabled="searchTypes.length === 0"
            class="form-control"
            id="hsaId"
            name="hsaId"
            :placeholder="$t('hsaIdPlaceHolder')"
          >
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-6">
          <label for="title">{{$t("title")}}</label>
          <input
            v-model="title"
            id="title"
            type="text"
            :disabled="searchTypes.indexOf('Person') === -1"
            class="form-control"
            name="title"
            :placeholder="$t('titlePlaceHolder')"
          >
        </div>
        <div class="form-group col-lg-6">
          <label for="place">{{$t("place")}}</label>
          <input
            v-model="place"
            id="place"
            type="text"
            :disabled="searchTypes.indexOf('Person') === -1 && searchTypes.indexOf('Organisation eller enhet') === -1"
            class="form-control"
            placeholder="t.ex. Ystad eller Skåne"
          >
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-6">
          <label for="telephone">{{$t("telephone")}}</label>
          <input
            type="text"
            v-model="telephone"
            :disabled="searchTypes.indexOf('Person') === -1 && searchTypes.indexOf('Organisation eller enhet') === -1"
            class="form-control"
            id="telephone"
            :placeholder="$t('telephonePlaceHolder')"
          >
        </div>
        <div class="form-group col-lg-6">
          <label for="businessClassificationCode">{{$t("businessClassification")}}</label>
          <multiselect
            v-model="selectedBusinessClassificationCode"
            :disabled="searchTypes.indexOf('Organisation eller enhet') === -1"
            :options="businessClassificationCodeOptions"
            :multiple="false"
            autocomplete="off"
            placeholder="Välj på listan"
            label="name"
            track-by="name"
            selected-label=""
            selectLabel = ""
            deselectLabel = ""
            id="businessClassificationCode">
          </multiselect>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-6">
          <label for="address" ref="address">{{$t("address")}}</label>
          <input
            type="text"
            v-model="address"
            :disabled="searchTypes.indexOf('Person') === -1 && searchTypes.indexOf('Organisation eller enhet') === -1"
            class="form-control"
            id="address"
            :placeholder="$t('addressPlaceHolder')"
          >
        </div>
        <div class="form-group col-lg-6">
          <label for="hsaCommissionMemberCode">Medarbetaruppdragets ändamål</label>
          <multiselect
            v-on:keydown.enter="doSearch()"
            v-model="selectedHsaCommissionMemberCode"
            :disabled="searchTypes.indexOf('Medarbetaruppdrag') === -1"
            :options="assignmentGoalOptions"
            placeholder="Välj på listan" label="name" track-by="name"
            selected-label=""
            selectLabel = ""
            deselectLabel = ""
            id="hsaCommissionMemberCode"
          ></multiselect>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-6">
          <label for="email" ref="email">{{$t("email")}}</label>
          <input
            type="text"
            @focus.prevent=""
            v-model="email"
            :disabled="searchTypes.indexOf('Person') === -1 && searchTypes.indexOf('Organisation eller enhet') === -1"
            class="form-control"
            id="email"
            :placeholder="$t('emailPlaceHolder')"
          >
        </div>
        <div class="col text-right my-4">
          <button type="submit" id="submit-button" class="btn btn-lg omnibox-btn text-nowrap" v-on:click="doSearch()">
            {{ $t("search") }}
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-2">
      <div class="row no-gutters border-top border-bottom py-2 mt-4">
        <div class="col-md-6 border-right">
          <i>
            Sökfilter:
          </i>
        </div>
        <div class="col-md-6 text-right">
          <a href="#detailedSearch" class="toggle-sidebar toggle-filters active" @click="toggleSidebar()">Filtrera</a>
        </div>
      </div>
      <div class="filter-search-wrapper">
        <span
          id="search-area-path"><i>{{formatPath(selectedSearchArea.path.replace(/countries\/|counties\/|organizations\/|units\/|functions\//g, ''))}}</i></span>
        <span v-for="(type, i) in searchTypes" :i="++i" v-bind:key="i"><i>{{type}}</i></span>

      </div>

      <div class="row no-gutters border-bottom py-2">
        <span>
          Gör en
          <a href="#/simpleSearch">{{$t('simpleSearch')}}</a>
          {{$t('instead')}}
        </span>
      </div>
    </div>
  </section>
</template>
<script>
import { APIServices } from '../../services/APIServices'
const apiService = new APIServices()
const HSA_COMMISSION_CODES_OID = '1.2.752.129.2.2.1.3'
const HSA_COMMISSION_CODE_GOAL_OID = '1.2.752.29.23.1.100'
export default {
  components: {},
  name: 'detailedSearch',
  searchResult: [],
  data() {
    return {
      searchResult: []
    };
  },
  mounted: function () {
    this.$store.commit('setShowBox', false)
  },
  computed: {
    selectedSearchArea: {
      get: function () {
        return this.$store.state.selectedSearchArea
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSelectedOption', newValue)
      }
    },
    showFilter: {
      get: function () {
        return this.$store.state.showFilter
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setShowFilter', newValue)
      }
    },
    exactMatch: {
      get: function () {
        return this.$store.state.exactMatch
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setExactMatch', newValue)
      }
    },
    storedMatches: {
      get: function () {
        return this.$store.state.searchResults
      },
      set: function (newValue) {
        this.$store.commit('setSearchResults', newValue)
      }
    },
    searchLevel() {
      return this.$store.state.searchLevel
    },
    searchTypes: {
      get: function () {
        return this.$store.state.searchTypes
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSearchTypes', newValue)
      }
    },
    givenName: {
      get: function () {
        return this.$store.state.givenName
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setGivenName', newValue)
      }
    },
    lastName: {
      get: function () {
        return this.$store.state.lastName
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setLastName', newValue)
      }
    },
    title: {
      get: function () {
        return this.$store.state.title
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setTitle', newValue)
      }
    },
    telephone: {
      get: function () {
        return this.$store.state.telephone
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setTelephone', newValue)
      }
    },
    address: {
      get: function () {
        return this.$store.state.address
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setAddress', newValue)
      }
    },
    email: {
      get: function () {
        return this.$store.state.email
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setEmail', newValue)
      }
    },
    hsaId: {
      get: function () {
        return this.$store.state.hsaId
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setHsaId', newValue)
      }
    },
    organizationOrUnitName: {
      get: function () {
        return this.$store.state.organizationOrUnitName
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setOrganizationOrUnitName', newValue)
      }
    },
    hsaIdentity: {
      get: function () {
        return this.$store.state.hsaIdentity
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setHsaIdentity', newValue)
      }
    },
    municipality: {
      get: function () {
        return this.$store.state.municipality
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setMunicipality', newValue)
      }
    },
    unit_org_func: {
      get: function () {
        return this.$store.state.unit_org_func
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setUnit_org_func', newValue)
      }
    },
    place: {
      get: function () {
        return this.$store.state.place
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setPlace', newValue)
      }
    },
    selectedBusinessClassificationCode: {
      get: function () {
        return this.$store.state.selectedBusinessClassificationCode
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSelectedBusinessClassificationCode', newValue)
      }
    },
    hsaBusinessType: {
      get: function () {
        return this.$store.state.hsaBusinessType
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setHsaBusinessType', newValue)
      }
    },
    HsaCommission: {
      get: function () {
        return this.$store.state.HsaCommission
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setHsaCommission', newValue)
      }
    },
    assignmentGoal: {
      get: function () {
        return this.$store.state.assignmentGoal
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setAssignmentGoal', newValue)
      }
    },
    assignmentGoalOptions: {
      get: function () {
        return this.$store.state.assignmentGoalOptions
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setAssignmentGoalOptions', newValue)
      }
    },
    businessClassificationCodeOptions: {
      get: function () {
        return this.$store.state.businessClassificationCodeOptions
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setBusinessClassificationCodeOptions', newValue)
      }
    },
    selectedHsaCommissionMemberCode: {
      get: function () {
        return this.$store.state.selectedHsaCommissionMemberCode
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSelectedHsaCommissionMemberCode', newValue)
      }
    }
  },
  created: function () {
    window.addEventListener('keyup.enter', this.doSearch)
    // console.log(this.storedMatches)
    apiService.getCodeSystemCodesByOid(HSA_COMMISSION_CODES_OID).then(data => {
      if (typeof (data) !== 'undefined') {
        for (var i = 0; i < data.length; ++i) {
          this.businessClassificationCodeOptions.push({ code: data[i].code, name: data[i].name })
        }
      }
      // console.log("codes: " + JSON.stringify(data))
    })
    // get Meda´berauppdrag codes
    apiService.getCodeSystemCodesByOid(HSA_COMMISSION_CODE_GOAL_OID).then(data => {
      if (typeof (data) !== 'undefined') {
        for (var i = 0; i < data.length; ++i) {
          this.assignmentGoalOptions.push({ code: data[i].code, name: data[i].name })
        }
      }
      // console.log("codes: " + JSON.stringify(data))
    })
  },
  methods: {
    updateSearchTypes: function () {
      if (this.searchTypes.indexOf('Person') !== -1) {
        // enable person related search fields
      } else if (this.searchTypes.indexOf('unit') !== -1) {
      }
    },
    escapeCharacters: function (input) {
      return input.replace(/[-/\\^$*+?,@<>.=%;!&~#()|[\]{}]/g, '%5C$&');
    },
    formatPath(value) {
      // console.log(value.replace('/', '>>'))
      if (typeof value === 'undefined') {
        return value
      }
      return value
        .replace(new RegExp('/', 'g'), ' » ')
        .replace('country >> SE >> county >> ', '')
    },
    doSearch: function () {
      // this.$i18n.messages.sv.telephone = 'tel:'
      // prevent submission before populating text-fields
      if (this.givenName.trim() === '' && this.lastName.trim() === '' && this.title.trim() === '' &&
          this.organizationOrUnitName.trim() === '' && this.hsaId.trim() === '' && this.place.trim() === '' &&
          this.telephone.trim() === '' && this.address.trim() === '' && this.email.trim() === '' && this.selectedHsaCommissionMemberCode === '' && this.selectedBusinessClassificationCode === '') {
        this.$store.commit('setShowBox', true)
        this.$store.commit('setMessage', 'Du har inte skrivit något i sökfälten. Skriv och försök igen.')
        return
      }
      this.$session.set('previousSearchPage', 'detailedSearch')
      this.$router.push({
        name: 'resultsView',
        query: {
          sourcePage: 'detailedSearch',
          selectedSearchAreaName: this.selectedSearchArea.name,
          selectedSearchAreaPath: this.selectedSearchArea.path,
          exactMatch: this.exactMatch,
          searchTypes: JSON.stringify(this.$session.get('searchTypes')),
          givenName: this.givenName,
          lastName: this.lastName,
          title: this.title,
          telephone: this.telephone,
          address: this.address,
          email: this.email,
          hsaId: this.hsaId,
          organizationOrUnitName: this.organizationOrUnitName,
          hsaIdentity: this.hsaIdentity,
          municipality: this.municipality,
          unit_org_func: this.unit_org_func,
          place: this.place,
          selectedBusinessClassificationCode: this.selectedBusinessClassificationCode,
          hsaBusinessType: this.hsaBusinessType,
          HsaCommission: this.HsaCommission,
          assignmentGoal: this.assignmentGoal,
          assignmentGoalOptions: this.assignmentGoalOptions,
          businessClassificationCodeOptions: this.businessClassificationCodeOptions,
          selectedHsaCommissionMemberCode: this.selectedHsaCommissionMemberCode
        }
      })
    },
    toggleSidebar: function () {
      // console.log('Toggling sidebar');
      console.log('ShowFilter in detailed search: ' + this.showFilter)
      if (!this.showFilter) {
        // this.className = 'toggle-sidebar d-block';
        this.className = 'hsa-bg-dcd9d6 active';
      } else {
        // this.className = 'toggle-sidebar d-none';
        this.className = 'hsa-bg-dcd9d6';
      }
      // alert('clicked and value: ' + this.showFilter + ' class: ' + this.className)

      this.showFilter = !this.showFilter;
      // this.$router.push('#/detailedSearch/#main')
    }
  },
  watch: {
    givenName: function (newText, oldText) {
      if (this.givenName.indexOf('*') !== -1) {
        this.givenName = newText.replace('*', '')
      }
    },
    lastName: function (newText, oldText) {
      if (this.lastName.indexOf('*') !== -1) {
        this.lastName = newText.replace('*', '')
      }
    },
    organizationOrUnitName: function (newText, oldText) {
      if (this.organizationOrUnitName.indexOf('*') !== -1) {
        this.organizationOrUnitName = newText.replace('*', '')
      }
    },
    hsaId: function (newText, oldText) {
      if (this.hsaId.indexOf('*') !== -1) {
        this.hsaId = newText.replace('*', '')
      }
    },
    title: function (newText, oldText) {
      if (this.title.indexOf('*') !== -1) {
        this.title = newText.replace('*', '')
      }
    },
    place: function (newText, oldText) {
      if (this.place.indexOf('*') !== -1) {
        this.place = newText.replace('*', '')
      }
    },
    address: function (newText, oldText) {
      if (this.address.indexOf('*') !== -1) {
        this.address = newText.replace('*', '')
      }
    },
    telephone: function (newText, oldText) {
      if (this.telephone.indexOf('*') !== -1) {
        this.telephone = newText.replace('*', '')
      }
    },
    email: function (newText, oldText) {
      if (this.email.indexOf('*') !== -1) {
        this.email = newText.replace('*', '')
      }
    }
  }
}
</script>

<style>
</style>
