<template>
<footer class="footer text-muted border-top d-flex align-items-baseline">
  <div class="row container-fluid">
    <div class="footer-global-logo col col-12 col-sm-4">
      <a href="https://www.inera.se/" class="logo">
        <div class="logo-img">Inera</div>
      </a>
    </div>
    <div class="footer-global-content col col-12 col-sm-4">
      <h2 class="heading-small">{{$t("moreAboutHsa")}}</h2>
      <p class="fine">
        <span>
          <a href="https://www.inera.se/hsa">www.inera.se/hsa</a>
        </span>
      </p>
      <p class="fine">
        <span>
          <a href="#" class="toggle-sidebar toggle-links" title="filtrera din sökning">Länkar och dokument</a>
        </span>
      </p>
    </div>
    <div class="footer-global-content col col-12 col-sm-4">
      <h2 class="heading-small">{{$t("help")}}, {{$t("support")}}, {{$t("questions")}}</h2>
      <p class="fine">
        <span>{{$t("contactYourLocalHSaAdminOrHsaAgent")}}</span>
      </p>
    </div>
  </div>
</footer>
</template>

<script>
export default {
  name: 'hsaFooter',
  data() {
    return {
      showBox: true
    }
  },
  computed: {}
}
</script>

<style>
</style>
