<template>
  <div class="container-fluid mt-4 justify-content-md-center" v-if="showBox">
    <div class="alert alert-danger offset-md-3 col-md-6"
      role="alert" >
      {{message}}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'messageBox',
  data () {
    return {
    }
  },
  computed: { // sync message with message variable of store
    message: {
      get: function () {
        return this.$store.state.message
      },
      set: function (newValue) {
        this.$store.commit('setMessage', newValue)
      }
    },
    showBox: {
      get: function () {
        return this.$store.state.showBox
      },
      set: function (newValue) {
        this.$store.commit('setShowBox', newValue)
      }
    }
  }
  /*
  created () {
    this.showBox = this.$store.state.showBox
    this.message = this.$store.state.message
  } */
}
</script>

<style>
  /* hide element after 10 seconds */
  #hideMe {
    -moz-animation: cssAnimation 0s ease-in 10s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 10s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 10s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @keyframes cssAnimation {
    to {
      width:0;
      height:0;
      overflow:hidden;
    }
  }
  @-webkit-keyframes cssAnimation {
    to {
      width:0;
      height:0;
      visibility:hidden;
    }
  }

</style>
