<template>
  <nav aria-label="sidebar-left" id="sidebar-left" class="hsa-bg-dcd9d6 active">
    <ul class="list-unstyled components">
      <li class="active" id="left-nav-item-01">
        <a
          href="#filter-submenu"
          data-toggle="collapse"
          aria-expanded="true"
          class="dropdown-toggle"
        >
          <img src="../../assets/images/filter-symbol.svg" alt="rapportera" class="menu-icon" />filtrera
        </a>
        <ul class="list-unstyled" id="filter-submenu">
          <li class="border-bottom py-3">
            <label class="h5" id="filter-selctor-label">Vad söker du?</label>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  aria-labelledby="filter-selctor-label"
                  class="form-check-input"
                  type="checkbox"
                  id="searchCategory1"
                  value="Person"
                  checked
                  v-on:change="updateSearchTypes()"
                  v-model="searchTypes"
                />
                <i class="fa fa-user px-1"></i>
                Person
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  aria-labelledby="filter-selctor-label"
                  class="form-check-input"
                  type="checkbox"
                  id="searchCategory2"
                  value="Organisation eller enhet"
                  checked
                  v-on:change="updateSearchTypes()"
                  v-model="searchTypes"
                />
                <i class="fa fa-cubes px-1"></i>
                Organisation eller enhet
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  aria-labelledby="filter-selctor-label"
                  class="form-check-input"
                  type="checkbox"
                  id="searchCategory3"
                  value="Medarbetaruppdrag"
                  checked
                  v-on:change="updateSearchTypes()"
                  v-model="searchTypes"
                />
                <i class="fas fa-suitcase p-1"></i>
                Medarbetaruppdrag
              </label>
            </div>
          </li>
          <li name="exactSearchName"
            class="border-bottom py-3 general-message"
            aria-describedby="search-within-org"
          >
            <tooltip to="exactSearchName" arrow :placement="tooltipPlacement()" animation="shift-toward" maxWidth="275px">
              Kryssa här om du vill att din sökning endast ska ge träffar med exakt stavning och endast de tecken du skrivit. Exempel: "ann" ger bara träff på personer som heter Ann, och till exempel inte Anne, Marianne och Ann
            </tooltip>
            <div class="form-check">
              <label class="form-check-label" for="exactMatch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="exactMatch"
                  value="Organisation eller enhet"
                  v-model="exactMatch"
                />Exakt sökning</label>
            </div>
          </li>
          <li
            class="py-3 px-0 general-message"
            aria-describedby="search-within-org"
          >
            <label class="d-block" for="search-area">Sökområde</label>
            <multiselect
              v-model="selectedSearchArea"
              :options="options"
              :multiple="false"
              id="search-area"
              :close-on-select="true"
              class="select2-hidden-accessible"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Välj Sökområde"
              label="name"
              track-by="name"
              :custom-label="formatName"
              :preselect-first="true"
              selected-label=""
              selectLabel = ""
              deselectLabel = ""
              noOptions="Listan är tom"
              @search-change="getUnits"
            ></multiselect>
          </li>
        </ul>
      </li>
      <li id="left-nav-item-02" v-if="this.$localStorage.get('isAdmin') ">
        <a
          href="#hantera-submenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <img src="../../assets/images/report-symbol.svg" alt="rapportera" class="menu-icon" />hantera
        </a>
        <ul class="collapse list-unstyled" id="hantera-submenu">
          <li>
            <a href="#">hantera 1</a>
          </li>
          <li>
            <a href="#">hantera 2</a>
          </li>
          <li>
            <a href="#">hantera 3</a>
          </li>
        </ul>
      </li>

      <li id="left-nav-item-03" v-if="this.$localStorage.get('isAdmin') ">
        <a
          href="#kontollera-submenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <img src="../../assets/images/check-mark-symbol.svg" alt="kontrollera" class="menu-icon" />kontollera
        </a>
        <ul class="collapse list-unstyled" id="kontollera-submenu">
          <li>
            <a href="#">kontrollera 1</a>
          </li>
          <li>
            <a href="#">kontrollera 2</a>
          </li>
          <li>
            <a href="#">kontrollera 3</a>
          </li>
        </ul>
      </li>
      <li id="left-nav-item-04" v-if="this.$localStorage.get('isAdmin') ">
        <a
          href="#rapportera-submenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <img src="../../assets/images/report-symbol.svg" alt class="menu-icon" />Exportera rapporter
        </a>
        <ul class="collapse list-unstyled" id="rapportera-submenu">
          <li>
            <a href="#">rapportera 1</a>
          </li>
          <li>
            <a href="#">rapportera 2</a>
          </li>
          <li>
            <a href="#">rapportera 3</a>
          </li>
        </ul>
      </li>
      <li id="links-and-documents">
        <a
          href="#links-and-documents-submenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <i class="menu-icon fa fa-link" aria-hidden="true"></i>länkar och dokument
        </a>
        <ul class="collapse list-unstyled" id="links-and-documents-submenu">
          <li>
            <a
              href="https://www.inera.se/globalassets/tjanster/katalogtjanst-hsa/dokument/stodjande-dokument/handbok_for_hsa-administratorer.pdf"
              target="_blank"
            >
              Handbok för HSA-administratörer
              <i class="fa fa-external-link float-right"></i>
            </a>
          </li>
          <li>
            <a href="https://www.inera.se/hsa/dokument/" target="_blank">
              Dokument för HSA
              <i class="fa fa-external-link float-right"></i>
            </a>
          </li>
          <li>
            <a href="https://www.inera.se/hsa" target="_blank">
              Om HSA på inera.se
              <i class="float-right fa fa-external-link"></i>
            </a>
          </li>
          <li>
            <a href="https://www.inera.se/hsa/utbildning/" target="_blank">
              Utbildning och filmer
              <i class="fa fa-external-link float-right"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.inera.se/aktuellt/nyheter/?isPostBack=True&amp;showSelected=false&amp;categories=116&amp;categories=114&amp;categories=115&amp;services=75"
              target="_blank"
            >
              HSA Nyhetsbrev
              <i class="fa fa-external-link float-right"></i>
            </a>
          </li>
          <li>
            <a href="https://www.inera.se/om-webbplatsen/cookies/" target="_blank">Information om cookies</a>
            <i class="fa fa-external-link float-right"></i>
          </li>
          <li>
            <a href="https://www.inera.se/om-inera/behandling-av-personuppgifter/" target="_blank">
              Information om personuppgiftsbehandling
              <i class="fa fa-external-link float-right"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              Tillgänglighetsredogörelse (webbdirektivet)
              <i class="float-right"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</template>
<script>
import { APIServices } from '../../services/APIServices'

// import VueLodash from 'vue-lodash'

const apiService = new APIServices()

export default {
  name: 'leftSideBar',
  options: [],
  data() {
    return {
      // searchTypes: ['Person', 'Organisation eller enhet', 'Medarbetaruppdrag'],
      counties: [],
      units: [],
      organizations: [],
      options: [],
      value: { name: 'Välj på listan', path: '' }
    }
  },
  methods: {
    formatName({ name, path }) {
      return `${name}`.replace(/\/|\\ /g, ' » ')
    },
    toggleSidebar: function () {
      console.log('Toggling sidebar')
    },
    getUnits: function (textFieldValue) {
      // searchTextInput += ' @words: ' + word.replace(/[-/\\^$*+?,@<>.=%;!&~#()|[\]{}]/g, '%5C$&') + '*'
      if (textFieldValue.toString().length < 3 && textFieldValue.toString().length > 0) {
        return
      }
      var requestQuery = '{ simpleSearch (freetext: "@type: (county %7C organization %7C unit)" )  { counties { name metaData {path} } organizations { name metaData {path} }  units { name metaData {path} } ' +
        ' } }'

      if (textFieldValue.replace(/[-/\\^$*+?,@<>.=%;!&~#()|[\]{}]/g, '%5C$&') !== '') {
        requestQuery = '{ simpleSearch (freetext: "@words:' + textFieldValue.replace(/[-/\\^$*+?,@<>.=%;!&~#()|[\]{}]/g, '%5C$&') + '*  @type: (county %7C organization %7C unit)" )  { counties { name metaData {path} } organizations { name metaData {path} }  units { name metaData {path} } ' +
          ' } }'
      }
      let variablesPart = '{}'
      let operationName = ''
      let requestBody = { 'query': requestQuery, 'variables': variablesPart, 'operationName': operationName }
      apiService.searchViaGraphQl(requestBody).then(response => {
        if (!response) {
          // eslint-disable-next-line no-throw-literal
          throw 'No results found.';
        }
        if (!response.data) {
          // eslint-disable-next-line no-throw-literal
          throw `RESPONSE FROM GRAPHQL: ${response}`;
        }
        // console.log('counties and organizations: ' + JSON.stringify(requestBody) + ' ' + JSON.stringify(response))
        if ((typeof response === 'undefined') || typeof response.data === 'undefined') {
          this.options.push({ name: 'Hela Sverige', path: 'countries/Sverige' })
          return
        }
        if (response.data.simpleSearch !== null) {
          this.counties = []
          this.organizations = []
          this.units = []
          this.options = []
          this.counties = response.data.simpleSearch.counties
          // this.counties = _.orderBy(this.counties, 'name')
          // this.organizations = JSON.parse(JSON.stringify(data.data.search)).organizations
          var renamedOrgs = response.data.simpleSearch.organizations
          var renamedUnits = response.data.simpleSearch.units
          // this.organizations = _.orderBy(this.organizations, 'metaData.path')
        }

        for (var i = 0; i < renamedOrgs.length; ++i) {
          //  check if organizations are found above a county level
          if (renamedOrgs[i].metaData.path.indexOf('counties') === -1) {
            this.counties.push(renamedOrgs[i])
          } else {
            renamedOrgs[i].name = renamedOrgs[i].metaData.path.replace(/Sverige\/|countries\/|counties\/|organizations\/|units\/|functions\//g, '')
            this.organizations.push(renamedOrgs[i])
          }
        }
        for (var j = 0; j < renamedUnits.length; ++j) {
          //  check if organizations are found above a county level
          if (renamedUnits[j].metaData.path.indexOf('counties') === -1) {
            this.counties.push(renamedUnits[j])
          } else {
            renamedUnits[j].name = renamedUnits[j].metaData.path.replace(/Sverige\/|countries\/|counties\/|organizations\/|units\/|functions\//g, '')
            this.units.push(renamedUnits[j])
          }
        }
        // sort lists
        // eslint-disable-next-line no-undef
        this.organizations = _.orderBy(this.organizations, 'name')
        // eslint-disable-next-line no-undef
        this.counties = _.orderBy(this.counties, 'name')
        this.units = _.orderBy(this.units, 'name')

        this.options.push({ name: 'Hela Sverige', path: 'countries/Sverige' })
        for (var k = 0; k < this.counties.length; ++k) {
          this.options.push({ name: this.counties[k].name, path: this.counties[k].metaData.path })
        }
        for (var l = 0; l < this.organizations.length; ++l) {
          this.options.push({ name: this.organizations[l].name, path: this.organizations[l].metaData.path })
        }
        for (var m = 0; m < this.units.length; ++m) {
          this.options.push({ name: this.units[m].name, path: this.units[m].metaData.path })
        }
      });
    },
    updateSearchTypes: function () {
      if (this.searchTypes.indexOf('Person') !== -1) {
        // enable person related search fields
      } else if (this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
        // add unit to search type
      } else if (this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
        // add organization to search typ
        console.log('search types:' + this.searchTypes)
      }
      this.$session.set('searchTypes', this.searchTypes)
    },
    tooltipPlacement: function () {
      return $(window).width() > 992 ? 'right' : 'top';
    },
    getSearchAreas: function () {
      let requestQuery = '{ search (freetext: "@type: (county %7C organization)")  { counties { name metaData {path} } organizations { name metaData {path} } ' +
        ' } }'
      let variablesPart = '{}'
      let operationName = ''
      let requestBody = { 'query': requestQuery, 'variables': variablesPart, 'operationName': operationName }

      apiService.searchViaGraphQl(requestBody).then(response => {
        if (!response) {
          // eslint-disable-next-line no-throw-literal
          this.$store.commit('setShowBox', true)
          this.$store.commit('setMessage', 'No data returned from server. Check your networking connection  ')
          // throw 'No data returned from GraphQL!';
        }
        if ((typeof response !== 'undefined') && (typeof response.data) === 'undefined') {
          // eslint-disable-next-line no-throw-literal
          throw `RESPONSE FROM GRAPHQL: ${response}`;
        }
        // console.log('counties and organizations: ' + JSON.stringify(requestBody) + ' ' + JSON.stringify(response))
        if ((typeof response === 'undefined') || typeof response.data === 'undefined') {
          this.options.push({ name: 'Hela Sverige', path: 'countries/Sverige' })
          return
        }
        if (response.data.search !== null) {
          this.counties = response.data.search.counties
          // this.counties = _.orderBy(this.counties, 'name')
          // this.organizations = JSON.parse(JSON.stringify(data.data.search)).organizations
          var renamedOrgs = response.data.search.organizations
          // this.organizations = _.orderBy(this.organizations, 'metaData.path')
        }
        if (typeof renamedOrgs !== 'undefined') {
          for (var i = 0; i < renamedOrgs.length; ++i) {
            //  check if organizations are found above a county level
            if (renamedOrgs[i].metaData.path.indexOf('counties') === -1) {
              this.counties.push(renamedOrgs[i])
            } else {
              renamedOrgs[i].name = renamedOrgs[i].metaData.path.replace(/Sverige\/|countries\/|counties\/|organizations\/|units\/|functions\//g, '')
              this.organizations.push(renamedOrgs[i])
            }
          }
        }
        // sort lists
        // eslint-disable-next-line no-undef
        this.organizations = _.orderBy(this.organizations, 'name')
        // eslint-disable-next-line no-undef
        this.counties = _.orderBy(this.counties, 'name')

        this.options.push({ name: 'Hela Sverige', path: 'countries/Sverige' })
        for (var k = 0; k < this.counties.length; ++k) {
          this.options.push({ name: this.counties[k].name, path: this.counties[k].metaData.path })
        }
        for (var l = 0; l < this.organizations.length; ++l) {
          this.options.push({ name: this.organizations[l].name, path: this.organizations[l].metaData.path })
        }
      });
    }
  },
  beforeCreate() {
    // initialize searchArea from session storage if available
    if (this.$session.exists('selectedSearchArea')) {
      this.$store.state.selectedSearchArea = this.$session.get('selectedSearchArea')
    } else { // save the default search area to the session storage
      console.log('setting searchArea session_: ' + this.$store.state.selectedSearchArea)
      this.$session.set('selectedSearchArea', this.$store.state.selectedSearchArea)
    }
    // initialize search object types from session storage if available
    if (this.$session.exists('searchTypes')) {
      this.$store.state.selectedSearchArea = this.$session.get('searchTypes')
    } else { // save the default search object types to the session storage
      console.log('setting searchtypes session_: ' + this.$store.state.searchTypes)
      this.$session.set('searchTypes', this.$store.state.searchTypes)
    }
    // initialize exact match option from session storage if available
    if (this.$session.exists('exactMatch')) {
      this.$store.commit('setExactMatch', this.$session.get('exactMatch'))
      this.exactMatch = this.$session.get('exactMatch')
    } else { // save the default search object types to the session storage
      console.log('setting exactMatch from session_: ' + this.$store.state.exactMatch)
      this.$session.set('exactMatch', this.$store.state.exactMatch)
    }
  },
  created() {
  },
  mounted() {
    this.getSearchAreas()
    // set search Area
    if (this.$session.exists('selectedSearchArea')) {
      this.selectedSearchArea = this.$session.get('selectedSearchArea')
    }
    if (this.$session.exists('exactMatch')) {
      this.exactMatch = this.$session.get('exactMatch')
    }
    if (this.showFilter) {
      this.className = 'hsa-bg-dcd9d6 active';
    } else {
      this.className = 'hsa-bg-dcd9d6';
    }
    // set search area value either från storage or afresh
  },
  computed: {
    selectedSearchArea: {
      get: function () {
        return this.$store.state.selectedSearchArea
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSelectedOption', newValue)
        this.$session.set('selectedSearchArea', newValue)
      }
    },

    exactMatch: {
      get: function () {
        return this.$store.state.exactMatch
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setExactMatch', newValue)
        this.$session.set('exactMatch', newValue)
      }
    },
    searchTypes: {
      get: function () {
        return this.$store.state.searchTypes
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSearchTypes', newValue)
      }
    },
    showFilter: {
      get: function () {
        return this.$store.state.showFilter
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setShowFilter', newValue)
      }
    },
    className: {
      get: function () {
        return this.$store.state.className
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setClassName', newValue)
      }
    }
  },
  watch: {
    searchTypes: function (newValue, oldValue) {
      console.log('searchType changed catched ' + newValue)
    },
    exactMatch: function (newValue, oldValue) {
      console.log('exactMatch changed catched ' + newValue)
    }
  }

}
</script>

<style>
</style>
