<template>
  <div id="app" class="has-cookie-alert">
    <!-- header component -->
    <nav
      aria-label="top-navbar"
      class="navbar navbar-expand-xl sticky-top navbar-dark hsa-bg-007d7b shadow"
    >
      <a class="navbar-brand" href="/#/">
        <img src="./assets/images/hsa-logo--89x39px.svg" alt="HSA" class="pt-2" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#top-nav-wrapper"
        aria-controls="top-nav-wrapper"
        aria-expanded="false"
        aria-label="Toggle Menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        v-if="showNav !== false"
        class="collapse navbar-collapse col-xl-8 col-lg-10 col-md-12 mx-lg-auto"
        id="top-nav-wrapper"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#/simpleSearch">{{$t("search")}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/simpleSearch">{{$t("browse")}}</a>
          </li>
          <li class="nav-item" v-if="this.$localStorage.get('isAdmin') ">
            <a class="nav-link sidebar-left-toggle" @click="toggleSidebar">{{$t("administrate")}}</a>
            <!-- <a class="nav-link" @click.prevent="showMenu='true'">Administrera</a> -->
          </li>

          <!-- Enable next block when a need for multilingual support comes.
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown06"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >{{$t("language")}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown06">
              <a class="dropdown-item" href="#" @click.prevent="setLocale('sv')">SV</a>
              <a class="dropdown-item" href="#" @click.prevent="setLocale('en')">EN</a>
            </div>
          </li>
          -->
        </ul>
        <ul class="navbar-nav">
          <li class="nav-addon-item user-display-name">
            <div class="row  no-gutters">
              <div class="col-xs-auto mr-auto">
                <a class="nav-link text-nowrap" id="toggle-prototype-settings" href="#"><i class="fa fa-sign-out-alt menu-icon" aria-hidden="true"></i>Kerstin Nilsson (administratör)</a>
              </div>
              <div class="col-xs-auto nav-item alert-in-nav mock-link mock-message mt-1 mr-5">
                <i class="fa fa-bell alert-icon"></i>
                <div class="alert-number">3</div>
              </div>
            </div>
          </li>
          <li class="nav-item user-display-name">
            <a class="nav-link text-white" @click="toggleUI">Toggle Role</a>
          </li>
        </ul>
        <left-side-bar aria-label="sidebar-border" :key="windowWidth" v-if="this.showHamburgerSideBar === true"></left-side-bar>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row" id="left-sidebar-place-id">
        <left-side-bar aria-label="sidebar-border" :key="renderLeftSideBar" v-if="showFilter"></left-side-bar>
        <div :class="ToggleClassName">
          <nav id="sidebar-toggler-id" aria-label="sidebar-left-toggle" class="sidebar-left-toggle">
            <i class="toggle-sidebar toggle-filters" :class="[this.showFilter ? 'opened' : 'closed']" @click="toggleSidebar()" id="sidebar-toggler"></i>

          </nav>
        </div>
        <div id="main-content-wrapper" class="mx-xl-auto" :class="[this.showFilter ? 'col-sm-7 offset-sm-4' : 'col-lg-12 col-xl-8 ']">
          <!-- messageBox component -->
          <message-box v-if="showBox"></message-box>
          <router-view></router-view>
          <hsa-footer></hsa-footer>
        </div>
      </div>
    </div>

    <!-- START Bootstrap-Cookie-Alert -->
    <div
      class="cookiealert alert show"
      role="complementary"
      v-if="readCookie('acceptCookies') !== 'true'"
    >
      <div class="row mx-xl-auto" id="cookie-alert-wrapper">
        <div class="col-xl-6 text-xl-right">
          <p>
            Vi använder cookies, även från tredje part, för att kunna ge dig en bättre upplevelse på den här webbplatsen. Här hittar du
            <a
              href="https://www.inera.se/om-webbplatsen/cookies/"
              target="_blank"
            >mer information om cookies</a>.&nbsp;&#x1F36A;
          </p>
        </div>
        <div class="col-xl-6 text-xl-left">
          <button
            type="button"
            class="btn btn-primary acceptcookies mx-0 mx-xl-1 my-3 my-xl-1"
            aria-label="Jag förstår"
            @click="handleClickCookies"
          >Jag förstår</button>
        </div>
      </div>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->
  </div>
</template>

<script>
import Vue from 'vue';
import leftSideBar from './components/leftSideBar/leftSideBar.vue';
import hsaFooter from './components/footer/footer';
import messageBox from './components/messsageBox/message.vue';
import VueTippy, { TippyComponent } from 'vue-tippy';
import { UiTextService } from './config/UIText';
Vue.use(UiTextService);
Vue.use(VueTippy);
Vue.component('tooltip', TippyComponent);
// setup locale info for root Vue instance
export default {
  components: {
    'hsa-footer': hsaFooter,
    'message-box': messageBox,
    'left-side-bar': leftSideBar
  },
  name: 'app',
  UiTextService,
  showNav: '',
  windowWidth: 0,
  showHamburgerSideBar: false,

  // external variables which can be mutated any time.
  computed: {
    message: {
      get: function () {
        return this.$store.state.message;
      },
      set: function (newValue) {
        this.$store.commit('setMessage', newValue);
      }
    },
    currentUser: {
      get: function () {
        return this.$store.state.currentUser;
      },
      set: function (newValue) {
        this.$store.commit('setCurrentUser', newValue);
      }
    },
    showBox: {
      get: function () {
        return this.$store.state.showBox;
      },
      set: function (newValue) {
        this.$store.commit('setShowBox', newValue);
      }
    },
    showFilter: {
      get: function () {
        return this.$store.state.showFilter
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setShowFilter', newValue)
      }
    },
    className: {
      get: function () {
        return this.$store.state.className
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setClassName', newValue)
      }
    }
  },
  /**
   * Define methods to be used by this app, App.vue, internally
   */
  methods: {
    ToggleClassName: function () {
      return 'sidebar-border ' + this.className
    },
    handleClickCookies: function () {
      window.$('section[role="main"]').css({
        'min-height': 'calc(100vh - 17rem)',
        transition: 'min-height 1s'
      });
      window.$('.cookiealert').removeClass('show');
      // window.$cookies.set('acceptCookies', 'true');
      this.$cookie.set('acceptCookies', 'true', 365);
    },
    readCookie: function (key1) {
      var key = escape(key1) + '=';
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        while (cookie.charAt(0) === ' ') {
          cookie = cookie.substring(1, cookie.length);
        }
        if (cookie.indexOf(key) === 0) {
          return cookie.substring(key.length, cookie.length);
        }
      }
      return false
    },
    setLocale: function (locale) {
      UiTextService.setLocale(locale);
      this.$router.go(this.$router.currentRoute);
    },
    toggleSidebar: function () {
      // console.log('Toggling sidebar');
      if (!this.showFilter) {
        // this.className = 'toggle-sidebar d-block';
        this.className = 'hsa-bg-dcd9d6 active';
      } else {
        this.className = 'hsa-bg-dcd9d6';
      }
      // alert('clicked and value: ' + this.showFilter + ' class: ' + this.className)
      this.showFilter = !this.showFilter;
      this.renderLeftSideBar = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
    },
    toggleUI: function () {
      if (this.$localStorage.get('isAdmin')) {
        console.log('Shifting to normal user');
        this.$localStorage.set('isAdmin', false)
      } else {
        console.log('Shifting to Admin');
        this.$localStorage.set('isAdmin', true)
      }
      this.renderLeftSideBar = !this.renderLeftSideBar
      this.showFilter = !this.showFilter
      // refresh page
      this.$router.push('/')
      this.$router.push('/simpleSearch/')
    },
    toggleNav: function () {
      this.showNav = !this.showNav;
    }
  },
  /**
   * A special vue state or cycle i.e when the instanse is mounted to the DOM
   */
  mounted: function () {
    console.log(' Hsa-web is up in ' + process.env.NODE_ENV + ' environment')
    this.showHamburgerSideBar = this.windowWidth < 768
    Vue.$localStorage.set('isAdmin', false)
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.windowWidth = window.innerWidth;
      });
    });
  },
  beforeCreate() {
  },
  created: function () {
  },
  /**
   * Actively watch variable for change.
   */
  watch: {
    showFilter: function (newValue, oldValue) {
      console.log('watcher catched ' + newValue)
      if (newValue) {
        // this.className = 'toggle-sidebar d-block';
        this.className = 'hsa-bg-dcd9d6 active';
      } else {
        // this.className = 'toggle-sidebar d-none';
        this.className = 'hsa-bg-dcd9d6';
      }
      // this.showFilter = newValue
      this.renderLeftSideBar = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
      console.log('render sidebar: ' + this.renderLeftSideBar)
    },
    windowWidth: function (newValue) {
      if (newValue < 768) {
        this.showFilter = false;
        this.showHamburgerSideBar = true;
      } else {
        this.showHamburgerSideBar = false;
      }
    }
  },
  data() {
    return {
      showNav: '',
      renderLeftSideBar: false,
      showHamburgerSideBar: false,
      windowWidth: window.innerWidth
    };
  }
};
</script>

<style>
.fixed {
  position: fixed;
}
</style>
