<template>
  <div id="app">
    <div v-if="isLoggedIn"> Welcome! You are now logged in.</div>

    <Login v-else @Login::loginResult="handleLoginResult"/>
  </div>
</template>

<script>
import Login from './login'

export default {
  name: 'app',
  components: {
    Login
  },
  data () {
    return {
      userIsLoggedIn: false
    }
  },
  computed: {
    isLoggedIn () {
      return this.userIsLoggedIn
    }
  },
  methods: {
    handleLoginResult ({ loginResult }) {
      this.userIsLoggedIn = loginResult
    }
  }
}
</script>
