
<template>
  <div class="Login">
    <h2>Login</h2>
    <div>
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <button @click="logIn">{{ $t("login")}}</button>
    </div>
  </div>
</template>
<script>

export default {
  name: 'Login',
  methods: {
    logIn () {
      // this should do a call to an authentication service/ver
      this.$emit('Login::loginResult', { loginResult: true })
      this.$router.push('admin')
    }
  }
}
</script>
