<template>
  <section v-if="loading" role="main">
    <div class="spinner-border text-info align-middle"></div>
  </section>
  <section v-else role="main">
    <h1>{{$t("searchResult")}}</h1>
    <label class="py-1" v-if="(this.totalHits + HsaCommissions.length) > 0">
      Din sökning gav
      <span
        class="font-weight-bold mr-1"
        id="results-found"
      >{{ this.totalHits}} träff{{(this.totalHits > 1)? "ar" : ""}}{{(this.totalHits > this.limit)? " varav " + this.limit + " visas" : ""}}.</span>
      <a href="#" @click="showPreviousSearchPage()">Gör om din sökning.</a>
    </label>
    <label class="py-1" v-else>
      <p class="font-italic no-results-info" id="no-results-found">
        Inga träffar.
        <a href="#" @click="showPreviousSearchPage()">Gör om din sökning.</a>
      </p>
    </label>

    <div class="row no-gutters border-top border-bottom py-2 mt-4">
      <div class="col-md-6 border-right">
        <i>
          Sökområde:
          <b>{{formatPath(selectedSearchArea.path.replace(/countries\/|counties\/|organizations\/|units\//g, ''))}}</b>
        </i>
      </div>
      <div class="col-md-6 text-right">
        <a
          href="#"
          class="mock-link toggle-sidebar toggle-filters active"
          @click="toggleShowFilter"
        >Filtrera</a>
      </div>
    </div>

    <div
      class="dialog-default mb-3 collapse show"
      id="collapse-disclaimer-01"
      v-if=" this.totalHits > 200"
    >
      <!-- v-if="readMore && (units.length + employees.length + organizations.length) > 0"> -->
      <div class="card rounded">
        <div class="dialog-header">
          <h4 class="card-title">Varför visas inte alla resultat?</h4>
          <a
            href="#collapse-disclaimer-01"
            class="close text-decoration-none"
            data-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="collapse-disclaimer-01"
            aria-label="Stäng"
          >
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="card-body">
          <p>
            <b>Resultatlistan har kortats ner. Du kan bara se upp till 200 träffar.</b>
            Den här begränsningen finns för att förhindra missbruk.
          </p>
          <ul>
            <li>Lägg till fler sökord – Du kan till exempel ange enhet där personen arbetar, titel, adress eller plats</li>
            <li>Filtrera sökningen – Visa till exempel endast personer eller använd exakt sökfras. Använd filter.</li>
            <li>
              Sök i begränsad del av HSA – till exempel endast i en kommun. Gå till
              <a
                href="#"
                class="mock-link"
              >bläddra</a>.
            </li>
          </ul>
          <p>HSA-administratörer kan använda funktionen Rapporter om de vill ha en lista på fler än 200 träffar.</p>
        </div>
      </div>
    </div>

    <div class="row no-gutters border-bottom py-2" v-if="this.totalHits === 0">
      <span>
        Gör en
        <a @click="showDetailedSearch" href="#/detailedSearch">{{$t('detailedSearching')}}</a>
        {{$t('instead')}}
      </span>
    </div>

    <!--  -->
    <div
      class="row no-gutters"
      v-show="( units.length > 0 || functions.length > 0 || employees.length > 0 || organizations.length > 0 || HsaCommissions.length > 0 )"
    >
      <!-- Search-result tabs -->
      <ul class="nav nav-tabs container-fluid" role="tablist ">
        <li class="nav-item result-1-tab" id="person-tab">
          <a
            class="nav-link text-nowrap active show"
            :class="{ 'no-content': employees.length === 0 }"
            :disabled="employees.length === 0"
            data-toggle="tab"
            href="#result-1-section"
          >
            <i class="fa fa-child px-1" />
            Person
            <span class="result-section-number">({{ employees.length }})</span>
          </a>
        </li>
        <li class="nav-item result-2-tab" id="org-unit-tab" role="tab">
          <a class="nav-link text-nowrap show" data-toggle="tab" href="#result-2-section">
            <i class="fa fa-building px-1"></i>
            Organisation eller enhet
            <span
              class="result-section-number"
            >({{ units.length + functions.length + organizations.length}})</span>
          </a>
        </li>
        <li class="nav-item result-3-tab" id="commission-tab">
          <a
            href="#result-3-section"
            class="nav-link text-nowrap show"
            :class="{ 'no-content': HsaCommissions.length === 0 }"
            :disabled="HsaCommissions.length === 0"
            data-toggle="tab"
          >
            <i class="fa fa-project-diagram px-1"></i>
            Medarbetaruppdrag
            <span class="result-section-number">({{ 0}})</span>
          </a>
        </li>
      </ul>

      <!-- Result panes -->
      <div class="tab-content w-100" id="results-tab">
        <div id="result-1-section" class="container-fluid tab-pane active">
          <a
            class="result-item"
            href="#"
            @click="showObjectSimplified('employee ', employee.metaData.path)"
            data-original-title
            title
            v-for="(employee, i) in this.doPaginationForEmployeesAndPersons()"
            :i="++i"
            v-bind:key="i"
          >
            <div class="clearfix">
              <h3 class="float-left">{{employee.name}}</h3>
              <div class="float-right">{{employee.position}}</div>
            </div>
            <p class="path-to-item">
              {{formatPath(employee.metaData.path)
              .replace(/countries » |counties » |county » |Sverige » |SE » |organizations » |units » |functions » /g, '')}}
            </p>
          </a>

          <div class="result-item" v-show="!employees || employees.length === 0">
            <div class="clearfix">
              <h3 class="float-none">Inga resultat!</h3>
            </div>
          </div>
          <div
            id="app1"
            class="container-fluid tab-pane"
            v-show="this.calculateNumberOfPagesForEmployeesAndPersons() > 0"
          >
            <!-- Pagination component -->
            <nav class="mb-4">
              <pagination
                v-model="currentPageEmployeesAndPersons"
                :page-count="this.calculateNumberOfPagesForEmployeesAndPersons()"
                :classes="bootstrapPaginationClasses"
                @change="onPageChange"
              ></pagination>
            </nav>
          </div>
        </div>
        <div id="result-2-section" class="container-fluid tab-pane fade">
          <a
            href="#"
            class="result-item"
            @click="showObjectSimplified('unit ', unit.metaData.path)"
            data-original-title
            title="Organisation eller enhet"
            v-for="(unit, i) in this.doPaginationForOrganizationsAndUnits()"
            :i="++i"
            v-bind:key="unit.metaData.path"
          >
            <div class="clearfix">
              <h3 class="float-left">{{unit.name}}</h3>
              <div class="float-right">{{unit.type}}</div>
            </div>
            <p class="path-to-item">
              {{formatPath(unit.metaData.path)
              .replace(/countries » |counties » |county » |Sverige » |SE » |organizations » |units » |functions » /g, '')}}
            </p>
          </a>
          <div
            class="result-item"
            v-show=" (!organizations && !unit && !functions) || (organizations.length === 0 && units.length === 0 && functions.length === 0)"
          >
            <div class="clearfix">
              <h3 class="float-none">Inga resultat!</h3>
            </div>
          </div>
          <div
            id="app2"
            class="container-fluid tab-pane"
            v-show="this.calculateNumberOfPagesForOrganizationsAndUnits() > 1"
          >
            <!--Pagination component -->
            <nav class="mb-4">
              <pagination
                v-model="currentPageOrganizationsAndUnits"
                :page-count="this.calculateNumberOfPagesForOrganizationsAndUnits()"
                :classes="bootstrapPaginationClasses"
                @change="onPageChange"
              ></pagination>
            </nav>
          </div>
        </div>
        <div id="result-3-section" class="container-fluid tab-pane fade">
          <a
            href="#"
            class="result-item"
            data-original-title
            title="Medarbetaruppdrag"
            v-for="(HsaCommission, i) in this.doPaginationForHsaCommisions()"
            :i="++i"
            v-bind:key="i"
            @click="showObjectSimplified('hsaCommission ', unit.metaData.path)"
          >
            <div class="clearfix">
              <h3 class="float-left">{{HsaCommission.name}}</h3>
              <div class="float-right">{{HsaCommission.type}}</div>
            </div>
            <p class="path-to-item">{{formatPath(HsaCommission.path)}}</p>
          </a>

          <div class="result-item" v-show="!HsaCommissions || HsaCommissions.length === 0">
            <div class="clearfix">
              <h3 class="float-none">Inga resultat!</h3>
            </div>
          </div>
          <div
            id="app3"
            class="container my-4 -align-center col-md-12"
            v-show="HsaCommissions.length > 0"
          >
            <!--Pagination component -->
            <nav class="mb-4">
              <pagination
                v-model="currentPageHsaCommisions"
                :page-count="this.calculateNumberOfPagesForHsaCommisions()"
                :classes="bootstrapPaginationClasses"
                @change="onPageChange"
              ></pagination>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-4 justify-content-md-center"></div>
    <modal
      name="short-view-modal"
      classes="short-view-modal-window"
      transition="scale"
      width="450"
      height="300"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="short-view-modal-title">
            <a href="#" class="mock-link">{{selectedObject.name}}</a>
          </h5>
          <span class="short-view-modal-edit" v-if="this.$localStorage.get('isAdmin') ">
            <i class="pr-2 fa fa-edit" />
          </span>
          <button
            type="button"
            class="short-view-modal-close-button"
            data-dismiss="modal"
            aria-label="Stäng"
            @click="$modal.hide('short-view-modal')"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="short-view-modal-row col">
            <span class="short-view-modal-name">HSA-id:</span>
            <span class="short-view-modal-value">{{selectedObject.hsaIdentity}}</span>
          </div>
          <div class="short-view-modal-row col">
            <span class="short-view-modal-name">Telefon:</span>
            <span v-for="(tel, i) in selectedObject.telephoneNumber" :key="i">
              <a href="#" class="short-view-modal-link">{{formatTelephoneNumber(tel)}}</a>
            </span>
            <span class="short-view-modal-edit" v-if="this.$localStorage.get('isAdmin') ">
              <i class="fa fa-edit" />
            </span>
          </div>
          <div class="short-view-modal-row col">
            <span class="short-view-modal-name">E-post:</span>
            <span>
              <a href="#" class="short-view-modal-link">{{selectedObject.mail}}</a>
            </span>
            <span class="short-view-modal-edit" v-if="this.$localStorage.get('isAdmin') ">
              <i class="fa fa-edit" />
            </span>
          </div>
          <div class="short-view-modal-row col">
            <span class="short-view-modal-name">1177 kontaktkort:</span>
            <span>
              <a href="#" class="short-view-modal-link">Klicka här</a>
            </span>
            <span class="short-view-modal-edit" v-if="this.$localStorage.get('isAdmin') ">
              <i class="fa fa-edit" />
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <a
            href="#"
            class="details-view-link"
            @click="fetchObjectDetails(selectedObject.type, selectedObject.metaData.path)"
          >
            <i class="fa fa-expand-arrows-alt" /> visa allt
          </a>
        </div>
      </div>
    </modal>
  </section>
</template>

<script>
import vue from 'vue'
import Pagination from './pagination.vue'
import VModal from 'vue-js-modal'
import axios from 'axios'
var VueCookie = require('vue-cookie');
vue.use(VModal)
vue.component('pagination', Pagination)

let validAreaCodes = ['11', '120', '121', '122', '123', '125', '13', '140', '141', '142', '143', '144', '150', '151', '152', '155', '156', '157', '158', '159', '16', '171', '173', '174', '175', '176', '18', '19', '21', '220', '221', '222', '223', '224', '225', '226', '227', '23', '240', '241', '243', '246', '247', '248', '250', '251', '253', '258', '26', '270', '271', '278', '280', '281', '290', '291', '292', '293', '294', '295', '297', '300', '301', '302', '303', '304', '31', '320', '321', '322', '325', '33', '340', '345', '346', '35', '36', '370', '371', '372', '380', '381', '382', '383', '390', '392', '393', '40', '410', '411', '413', '414', '415', '416', '417', '418', '42', '430', '431', '433', '435', '44', '451', '454', '455', '456', '457', '459', '46', '470', '471', '472', '474', '476', '477', '478', '479', '480', '481', '485', '486', '490', '491', '492', '493', '494', '495', '496', '498', '499', '500', '501', '502', '503', '504', '505', '506', '510', '511', '512', '513', '514', '515', '520', '521', '522', '523', '524', '525', '526', '528', '530', '531', '532', '533', '534', '54', '550', '551', '552', '553', '554', '555', '560', '563', '564', '565', '570', '571', '573', '580', '581', '582', '583', '584', '585', '586', '587', '589', '590', '591', '60', '611', '612', '613', '620', '621', '622', '623', '624', '63', '640', '642', '643', '644', '645', '647', '650', '651', '652', '653', '657', '660', '661', '662', '663', '670', '671', '672', '680', '682', '684', '687', '690', '691', '692', '693', '695', '696', '8', '90', '910', '911', '912', '913', '914', '915', '916', '918', '920', '921', '922', '923', '924', '925', '926', '927', '928', '929', '930', '932', '933', '934', '935', '940', '941', '942', '943', '950', '951', '952', '953', '954', '960', '961', '970', '971', '973', '975', '976', '977', '978', '980', '981,070', '72', '73', '76', '79']

// Tell Vue to use the plugin
vue.use(VueCookie);

export default {
  name: 'resultsView',
  props: {
    name: 'resultsView'
  },
  data() {
    return {
      loading: true,
      showModal: false,
      selectedPageSize: this.readCookie('resultsPerPage'),
      matches: [],
      readMore: false,
      totalHits: 0,
      limit: 200,
      countries: [],
      counties: [],
      organizations: [],
      units: [],
      functions: [],
      employees: [],
      HsaCommissions: [],
      otherMatches: [],
      activetab: 1,
      responseBody: [],
      // pagination related
      currentPageOrganizationsAndUnits: 1,
      currentPageEmployeesAndPersons: 1,
      currentPageHsaCommisions: 1,
      numberOfResultsPerPage: this.readCookie('resultsPerPage'),
      bootstrapPaginationClasses: { // http://getbootstrap.com/docs/4.1/components/pagination/
        ul: 'pagination',
        li: 'page-item',
        liActive: 'active',
        liDisable: 'disabled',
        button: 'page-link'
      }
    }
  },
  created: function () {
    this.loading = true
    if (this.$route.query.selectedSearchAreaName && this.$route.query.selectedSearchAreaPath) {
      this.selectedSearchArea = { name: this.$route.query.selectedSearchAreaName, path: this.$route.query.selectedSearchAreaPath }
      this.$session.set('selectedSearchArea', this.selectedSearchArea)
    }
    if (this.$route.query.exactMatch) {
      console.log('exactMatch exists: ' + this.$route.query.exactMatch)
      if (this.$route.query.exactMatch === 'false' || !this.$route.query.exactMatch) {
        this.exactMatch = false
        this.$session.set('exactMatch', false)
      } else {
        this.exactMatch = true
        this.$session.set('exactMatch', true)
      }
    }
    if (this.$route.query.searchTypes) {
      this.searchTypes = JSON.parse(this.$route.query.searchTypes)
      this.$session.set('searchTypes', JSON.parse(this.$route.query.searchTypes))
    }
    // dismiss error messageBox if active
    this.$store.commit('setShowBox', false)
    if (this.$route.query.simpleSearchInput) {
      this.simpleSearchInput = this.$route.query.simpleSearchInput
    }
    if (this.$route.query.givenName) {
      this.givenName = this.$route.query.givenName
    }
    if (this.$route.query.lastName) {
      this.lastName = this.$route.query.lastName
    }
    if (this.$route.query.title) {
      this.title = this.$route.query.title
    }
    if (this.$route.query.telephone) {
      this.telephone = this.$route.query.telephone
    }
    if (this.$route.query.address) {
      this.address = this.$route.query.address
    }
    if (this.$route.query.emil) {
      this.email = this.$route.query.email
    }
    if (this.$route.query.hsaId) {
      this.hsaId = this.$route.query.hsaId
    }
    if (this.$route.query.organizationOrUnitName) {
      this.organizationOrUnitName = this.$route.query.organizationOrUnitName
    }
    if (this.$route.query.hsaIdentity) {
      this.hsaIdentity = this.$route.query.hsaIdentity
    }
    if (this.$route.query.municipality) {
      this.municipality = this.$route.query.municipality
    }
    if (this.$route.query.unit_org_func) {
      this.unit_org_func = this.$route.query.unit_org_func
      console.log(this.$route.query.givenName)
    }
    if (this.$route.query.place) {
      this.place = this.$route.query.place
    }
    if (this.$route.query.selectedBusinessClassificationCode) {
      this.selectedBusinessClassificationCode = this.$route.query.selectedBusinessClassificationCode
    }
    if (this.$route.query.hsaBusinessType) {
      this.hsaBusinessType = this.$route.query.hsaBusinessType
    }
    if (this.$route.query.HsaCommission) {
      this.HsaCommission = this.$route.query.HsaCommission
    }
    if (this.$route.query.assignmentGoal) {
      this.assignmentGoal = this.$route.query.assignmentGoal
    }
    if (this.$route.query.assignmentGoalOptions) {
      this.assignmentGoalOptions = this.$route.query.assignmentGoalOptions
    }
    if (this.$route.query.businessClassificationCodeOptions) {
      this.businessClassificationCodeOptions = this.$route.query.businessClassificationCodeOptions
    }
    if (this.$route.query.selectedHsaCommissionMemberCode) {
      this.selectedHsaCommissionMemberCode = this.$route.query.selectedHsaCommissionMemberCode
    }
    // define local variables for searching
    var addPipe = false
    // do simpleSearch if
    if (this.$session.get('previousSearchPage') === 'simpleSearch' || this.$route.query.sourcePage === 'simpleSearch') {
      this.$store.commit('setShowBox', false)
      this.countries = []
      this.counties = []
      this.organizations = []
      // this.units = []
      this.functions = []
      this.employees = []
      this.persons = []
      this.otherMatches = []
      this.matches = []
      this.storedMatches = []

      // this.$http.get('http://127.0.0.1:9080/organization/resources/v0.2/organization/SE-20-01-01/organization-units').then((data) => {
      if (this.simpleSearchInput.trim() === '' || this.simpleSearchInput.trim() === null) {
        this.matches = []
        return
      }
      var simpleSearchParam = ''
      // attributes which are searchable  via simple search: name, countyName, municipalityName, title, givenName, middleName, lastName,hsaTitle, paTitle,
      // localityName, distinguishedNAme??, hsaIdentity
      if (this.exactMatch === 'true' || this.exactMatch === true) {
        console.log('exactMatch is true ' + this.exactMatch)
        // in redis-search exact match is expressed as (word word ) while non-exact match looks like (word | word)
        simpleSearchParam += '@words: %22' + this.simpleSearchInput.replace(/[-/\\^$*+?,@<>.=%;!&~#()|[\]{}]/g, '%5C$&') + '%22' // urlencoded double quotes.
      } else {
        console.log('Search without exact match:' + this.exactMatch)
        // reduce consecutive space to one and then replace it with pipe operator
        // break the input into words
        let splittedWords = this.simpleSearchInput.trim().split(' ')
        splittedWords.forEach(word => {
          // console.log('word at ' +  word)
          simpleSearchParam += ' @words: ' + word.replace(/[-/\\^$*+?,@<>.=%;!&~#()|[\]{}]/g, '%5C$&') + '*'
        })
      }

      if (this.searchTypes.indexOf('Person') !== -1 || this.searchTypes.indexOf('Organisation eller enhet') !== -1 || this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
        simpleSearchParam += ' @type: '

        if (this.searchTypes.indexOf('Person') !== -1) {
          // enable person related search fields
          simpleSearchParam += ' employee | person'

          addPipe = true
        }
        if (this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
          // add unit to search type
          simpleSearchParam += addPipe ? ' | organization | unit | function' : ' organization | unit | function'
          addPipe = true
        }
        if (this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
          // add organization to search typ

          simpleSearchParam += addPipe ? ' | HsaCommission' : ' HsaCommission'
        }
      }

      // console.log('link: ' +  config.ORGANIZATION_API + '/search/' + this.searchInput.trim() + '?offset=' + 0 + '&size=' + 200) counties/%C3%96ster%20l%C3%A4n
      let variablesPart = '{}'
      let operationName = ''
      let simpleSearchrequestQuery = '{ simpleSearch (freetext: "' + simpleSearchParam.replace(/\|/g, '%7C') + '", searchNode: "' + encodeURI(this.selectedSearchArea.path) + '")  { totalHits limit employees { name hsaIdentity metaData { path numSubordinates  numAllSubordinates } } units { name hsaIdentity metaData { path numSubordinates  numAllSubordinates }  } functions { name hsaIdentity metaData { path numSubordinates  numAllSubordinates }  }' +
        '  organizations { name hsaIdentity  route hsaHealthCareProvider orgNo ' +
        '   metaData { path numSubordinates  numAllSubordinates } } ' +
        ' } }'
      let simpleSearchrequestBody = { 'query': simpleSearchrequestQuery, 'variables': variablesPart, 'operationName': operationName }
      console.log('simplesearch query: ' + JSON.stringify(simpleSearchrequestBody))
      // let response = apiService.searchViaGraphQl(simpleSearchrequestBody)
      axios.post(
        // GRAPHQL_API,
        process.env.VUE_APP_GRAPHQL_API_URL,
        simpleSearchrequestBody,
        {
          headers: {
            'Content-Type': 'application/json'
          }
        }
      )
        .then(response => {
          let result = response.data
          if (result.data.simpleSearch !== null) {
            // cache retrieved matches and redirect to results view
            this.storedMatches = JSON.parse(JSON.stringify(result.data.simpleSearch))
            this.units = (typeof this.matches.units !== 'undefined') ? this.matches.units : [];
            if (this.storedMatches !== null && typeof this.storedMatches !== 'undefined') {
              this.matches = this.$store.state.searchResults // this.storedMatches
              this.totalHits = this.$store.state.searchResults.totalHits
              this.limit = this.$store.state.searchResults.limit
              this.units = (typeof this.matches.units !== 'undefined') ? this.matches.units : [];
              this.counties = (typeof this.matches.counties !== 'undefined') ? this.matches.counties : [];
              this.countries = (typeof this.matches.countries !== 'undefined') ? this.matches.countries : [];
              this.functions = (typeof this.matches.functions !== 'undefined') ? this.matches.functions : [];
              this.organizations = (typeof this.matches.organizations !== 'undefined') ? this.matches.organizations : [];
              this.employees = (typeof this.matches.employees !== 'undefined') ? this.matches.employees : [];
            }
            this.loading = false
            // nconsole.log('Stringify!: ' + JSON.stringify(result.data.simpleSearch))
          } else if (result.error !== null && typeof response.error !== 'undefined') {
            this.$store.commit('setShowBox', true)
            this.$store.commit('setMessage', response.error.message)
            // alert('Error Message' + response.error.message + '\n search path: ' + response.error.path)
          } else {
            this.loading = false
          }
        })
        .catch((error) => {
          // errorHandler.handlerError(error)
          this.$store.commit('setShowBox', true)
          this.$store.commit('setMessage', error)
          console.log(error)
        })
    }

    if (this.$session.get('previousSearchPage') === 'detailedSearch' || this.$route.query.sourcePage === 'detailedSearch') {
      // remove message box
      this.$store.commit('setShowBox', false)
      // use free-text search
      var searchParam = ''

      if (this.searchTypes.indexOf('Person') !== -1 || this.searchTypes.indexOf('Organisation eller enhet') !== -1 || this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
        searchParam += ' (@type:(';
        if (this.searchTypes.indexOf('Person') !== -1) {
          // enable person related search fields
          searchParam += ' employee'
          addPipe = true
        }
        if (this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
          // add unit to search type
          searchParam += addPipe ? ' | organization | unit | function' : ' organization | unit | function'
          addPipe = true
        }
        if (this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
          // add organization to search typ

          searchParam += (addPipe ? ' | HsaCommission' : ' HsaCommission')
        }
        // close the type parameter
        searchParam += ')) '; // the second ) is to imply AND in the search string.
      }
      // collect search inputs
      if (this.exactMatch === 'true' || this.exactMatch === true) {
        // console.log("exctMatch : " + this.exactMatch)
        if (this.searchTypes.indexOf('Person') !== -1) {
          if (this.givenName.trim() !== '') {
            searchParam += ' (@givenName: %22' + this.escapeCharacters(this.givenName.trim().replace('*', '')) + '%22)'
            searchParam += ' (@nickName: %22' + this.escapeCharacters(this.givenName.trim().replace('*', '')) + '%22)'
          }
          if (this.lastName.trim() !== '') {
            searchParam += ' (@sn: %22' + this.escapeCharacters(this.lastName.trim().replace('*', '')) + '%22)'
            searchParam += ' (@middleName: %22' + this.escapeCharacters(this.lastName.trim().replace('*', '')) + '%22)'
          }

          if (this.title.trim() !== '') {
            searchParam += ' (@title: %22' + this.escapeCharacters(this.title.trim().replace('*', '')) + '%22)'
            searchParam += ' (@hsaTitle: %22' + this.escapeCharacters(this.title.trim().replace('*', '')) + '%22)'
          }
        }
        if (this.searchTypes.indexOf('Person') !== -1 || this.searchTypes.indexOf('Organisation eller enhet') !== -1 || this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
          if (this.hsaId.trim() !== '') {
            searchParam += ' (@hsaIdentity: %22' + this.escapeCharacters(this.hsaId.trim().replace('*', '')) + '%22)'
          }
        }
        if (this.searchTypes.indexOf('Person') !== -1 || this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
          if (this.place.trim() !== '') {
            searchParam += ' (@localityName: %22' + this.escapeCharacters(this.place.trim().replace('*', '')) + '%22)'
          }
          if (this.telephone.trim() !== '') {
            searchParam += ' (@telephone: %22' + this.escapeCharacters(this.telephone.trim().replace('*', '')) + '%22)'
          }
          if (this.address.trim() !== '') {
            searchParam += ' (@postalAddress: %22' + this.escapeCharacters(this.address.trim().replace('*', '')) + '%22)'
            searchParam += ' (@street: %22' + this.escapeCharacters(this.address.trim().replace('*', '')) + '%22)'
          }
          if (this.email.trim() !== '') {
            searchParam += ' (@mail: %22' + this.escapeCharacters(this.email.trim().replace('*', '')) + '%22)'
          }
        }

        if (this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
          if (this.selectedBusinessClassificationCode !== '') {
            searchParam += ' (@businessClassificationCode: %22' + this.escapeCharacters(this.selectedBusinessClassificationCode.code.trim()) + '%22)'
          }
        }
        if (this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
          if (this.selectedHsaCommissionMemberCode !== '') {
            searchParam += ' (@hsaCommissionMemberCode: %22' + this.escapeCharacters(this.selectedHsaCommissionMemberCode.code.trim().replace('*', '')) + '%22)'
          }
        }
        if (this.searchTypes.indexOf('Medarbetaruppdrag') !== -1 || this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
          if (this.organizationOrUnitName.trim() !== '') {
            searchParam += ' (@name: %22' + this.escapeCharacters(this.organizationOrUnitName.trim().replace('*', '')) + '%22)'
          }
        }
      } else {
        if (this.searchTypes.indexOf('Person') !== -1) {
          if (this.givenName.trim() !== '') {
            searchParam += ' ( @givenName: ' + this.escapeCharacters(this.givenName.trim().replace('*', '')).replace(' ', '%20') + '*'
            searchParam += ' %7C @nickName: ' + this.escapeCharacters(this.givenName.trim().replace('*', '')).replace(' ', '%20') + '*)'
          }
          if (this.lastName.trim() !== '') {
            searchParam += ' (@sn:' + this.escapeCharacters(this.lastName.trim().replace('*', '')) + '*'
            searchParam += ' %7C @middleName:' + this.escapeCharacters(this.lastName.trim().replace('*', '')) + '*)'
          }

          if (this.title.trim() !== '') {
            searchParam += ' (@title=' + this.escapeCharacters(this.title.trim().replace('*', '')) + '*'
            searchParam += ' %7C @hsaTitle=' + this.escapeCharacters(this.title.trim().replace('*', '')) + '*)'
          }
        }
        if (this.searchTypes.indexOf('Person') !== -1 || this.searchTypes.indexOf('Organisation eller enhet') !== -1 || this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
          if (this.hsaId.trim() !== '') {
            searchParam += ' (@hsaIdentity:' + this.escapeCharacters(this.hsaId.trim().replace('*', '')) + '*)'
          }
        }
        if (this.searchTypes.indexOf('Person') !== -1 || this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
          if (this.place.trim() !== '') {
            searchParam += ' (@localityName:' + this.escapeCharacters(this.place.trim().replace('*', '')) + '*)'
          }
          if (this.telephone.trim() !== '') {
            searchParam += ' (@telephone:' + this.escapeCharacters(this.telephone.trim().replace('*', '')) + '*)'
          }
          if (this.address.trim() !== '') {
            searchParam += ' (@postalAddress:' + this.escapeCharacters(this.address.trim().replace('*', '')) + '*'
            searchParam += ' %7C @street:' + this.escapeCharacters(this.address.trim().replace('*', '')) + '*)'
          }
          if (this.email.trim() !== '') {
            searchParam += ' (@mail:' + this.escapeCharacters(this.email.trim().replace('*', '')) + '*)'
          }
        }

        if (this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
          if (this.selectedBusinessClassificationCode !== '') {
            searchParam += ' (@businessClassificationCode:' + this.escapeCharacters(this.selectedBusinessClassificationCode.code.trim()) + ')'
          }
        }
        if (this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
          if (this.selectedHsaCommissionMemberCode !== '') {
            searchParam += ' (@hsaCommissionMemberCode:' + this.escapeCharacters(this.selectedHsaCommissionMemberCode.code.trim().replace('*', '')) + '*)'
          }
        }
        if (this.searchTypes.indexOf('Person') !== -1 || this.searchTypes.indexOf('Organisation eller enhet') !== -1 || this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
          if (this.hsaId.trim() !== '') {
            searchParam += ' (@hsaIdentity:' + this.escapeCharacters(this.hsaId.trim().replace('*', '')) + '*)'
          }
        }
        if (this.searchTypes.indexOf('Person') !== -1 || this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
          if (this.place.trim() !== '') {
            searchParam += ' (@localityName:' + this.escapeCharacters(this.place.trim().replace('*', '')) + '*)'
          }
          if (this.telephone.trim() !== '') {
            searchParam += ' (@telephone:' + this.escapeCharacters(this.telephone.trim().replace('*', '')) + '*)'
          }
          if (this.address.trim() !== '') {
            searchParam += ' (@postalAddress:' + this.escapeCharacters(this.address.trim().replace('*', '')) + '*'
            searchParam += ' %7C @street:' + this.escapeCharacters(this.address.trim().replace('*', '')) + '*)'
          }
          if (this.email.trim() !== '') {
            searchParam += ' (@mail:' + this.escapeCharacters(this.email.trim().replace('*', '')) + '*)'
          }
        }

        if (this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
          if (this.selectedBusinessClassificationCode !== '') {
            searchParam += ' (@businessClassificationCode:' + this.escapeCharacters(this.selectedBusinessClassificationCode.code.trim()) + ')'
          }
        }
        if (this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
          if (this.selectedHsaCommissionMemberCode !== '') {
            searchParam += ' (@hsaCommissionMemberCode:' + this.escapeCharacters(this.selectedHsaCommissionMemberCode.code.trim().replace('*', '')) + '*)'
          }
        }
        if (this.searchTypes.indexOf('Medarbetaruppdrag') !== -1 || this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
          if (this.organizationOrUnitName.trim() !== '') {
            searchParam += ' (@name: ' + this.escapeCharacters(this.organizationOrUnitName.trim().replace('*', '')) + '*)'
          }
        }
      }
      // the next block is for searching via Graphql
      let variablesPart = '{}'
      let operationName = ''
      let requestQuery = '{ search (freetext: "' + searchParam.replace(/\|/g, '%7C') + '", searchNode: "' + encodeURI(this.selectedSearchArea.path) + '")  { totalHits limit employees { name hsaIdentity metaData { path numSubordinates  numAllSubordinates } } units { name hsaIdentity metaData { path numSubordinates  numAllSubordinates }  } functions { name  metaData { path numSubordinates  numAllSubordinates } }' +
        '  organizations { name hsaIdentity  route hsaHealthCareProvider orgNo ' +
        '   metaData { path numSubordinates  numAllSubordinates } } ' +
        ' } }'
      let requestBody = { 'query': requestQuery, 'variables': variablesPart, 'operationName': operationName }
      console.log(('DetailedSearch Query: ' + requestQuery))
      axios.post(
        // GRAPHQL_API,
        process.env.VUE_APP_GRAPHQL_API_URL,
        requestBody,
        {
          headers: {
            'Content-Type': 'application/json'
          }
        }
      )
        .then(response => {
          let result = response.data
          if (result.data !== null || (typeof result.data === 'undefined')) {
            // cache retrieved matches and redirect to results view
            this.storedMatches = JSON.parse(JSON.stringify(result.data.search))
            if (this.storedMatches !== null && typeof this.storedMatches !== 'undefined') {
              this.matches = this.$store.state.searchResults // this.storedMatches
              this.totalHits = this.$store.state.searchResults.totalHits
              this.limit = this.$store.state.searchResults.limit
              this.units = (typeof this.matches.units !== 'undefined') ? this.matches.units : [];
              this.counties = (typeof this.matches.counties !== 'undefined') ? this.matches.counties : [];
              this.countries = (typeof this.matches.countries !== 'undefined') ? this.matches.countries : [];
              this.functions = (typeof this.matches.functions !== 'undefined') ? this.matches.functions : [];
              this.organizations = (typeof this.matches.organizations !== 'undefined') ? this.matches.organizations : [];
              this.employees = (typeof this.matches.employees !== 'undefined') ? this.matches.employees : [];
            }
            this.loading = false
          } else if (result.error !== null && typeof response.error !== 'undefined') {
            this.$store.commit('setShowBox', true)
            this.$store.commit('setMessage', response.error.message)
            // alert('Error Message' + response.error.message + '\n search path: ' + response.error.path)
          } else {
            this.$store.commit('setShowBox', true)
            this.$store.commit('setMessage', 'Inga träffar hittades.')
          }
        })
        .catch((error) => {
          // errorHandler.handlerError(error)
          console.log('Error: ' + error)
        })
    }
  },
  computed: {
    storedMatches: {
      get: function () {
        return this.$store.state.searchResults
      },
      set: function (newValue) {
        this.$store.commit('setSearchResults', newValue)
      }
    },
    selectedSearchArea: {
      get: function () {
        return this.$store.state.selectedSearchArea
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSelectedOption', newValue)
        this.$session.set('selectedSearchArea', newValue)
      }
    },
    selectedObject: {
      get: function () {
        return this.$store.state.selectedObject
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSelectedObject', newValue)
      }
    },
    exactMatch: {
      get: function () {
        if (this.$route.query.exactMatch) {
          this.$store.commit('setExactMatch', this.$route.query.exactMatch)
          return this.$route.query.exactMatch
        } else {
          return this.$store.state.exactMatch
        }
        /*
        if (this.$session.exists('exactMatch')) {
          return this.$session.get('exactMatch')
        } else {
          this.$session.set('exactMatch', this.$store.state.exactMatch)
          return this.$session.get('exactMatch')
        } */
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setExactMatch', newValue)
        this.$session.set('exactMatch', newValue)
      }
    },
    searchTypes: {
      get: function () {
        if (this.$route.query.searchTypes) {
          this.$store.commit('setSearchTypes', JSON.parse(this.$route.query.searchTypes))
          return JSON.parse(this.$route.query.searchTypes)
        } else {
          return this.$store.state.searchTypes
        }
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSearchTypes', newValue)
      }
    },
    showFilter: {
      get: function () {
        return this.$store.state.showFilter
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setShowFilter', newValue)
      }
    },
    simpleSearchInput: {
      get: function () {
        return this.$store.state.searchInput;
      },
      set: function (newValue) {
        this.$store.commit('setSearchInput', newValue);
      }
    },
    givenName: {
      get: function () {
        return this.$store.state.givenName
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setGivenName', newValue)
      }
    },
    lastName: {
      get: function () {
        return this.$store.state.lastName
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setLastName', newValue)
      }
    },
    title: {
      get: function () {
        return this.$store.state.title
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setTitle', newValue)
      }
    },
    telephone: {
      get: function () {
        return this.$store.state.telephone
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setTelephone', newValue)
      }
    },
    address: {
      get: function () {
        return this.$store.state.address
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setAddress', newValue)
      }
    },
    email: {
      get: function () {
        return this.$store.state.email
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setEmail', newValue)
      }
    },
    hsaId: {
      get: function () {
        return this.$store.state.hsaId
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setHsaId', newValue)
      }
    },
    organizationOrUnitName: {
      get: function () {
        return this.$store.state.organizationOrUnitName
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setOrganizationOrUnitName', newValue)
      }
    },
    hsaIdentity: {
      get: function () {
        return this.$store.state.hsaIdentity
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setHsaIdentity', newValue)
      }
    },
    municipality: {
      get: function () {
        return this.$store.state.municipality
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setMunicipality', newValue)
      }
    },
    unit_org_func: {
      get: function () {
        return this.$store.state.unit_org_func
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setUnit_org_func', newValue)
      }
    },
    place: {
      get: function () {
        return this.$store.state.place
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setPlace', newValue)
      }
    },
    selectedBusinessClassificationCode: {
      get: function () {
        return this.$store.state.selectedBusinessClassificationCode
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSelectedBusinessClassificationCode', newValue)
      }
    },
    hsaBusinessType: {
      get: function () {
        return this.$store.state.hsaBusinessType
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setHsaBusinessType', newValue)
      }
    },
    HsaCommission: {
      get: function () {
        return this.$store.state.HsaCommission
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setHsaCommission', newValue)
      }
    },
    assignmentGoal: {
      get: function () {
        return this.$store.state.assignmentGoal
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setAssignmentGoal', newValue)
      }
    },
    assignmentGoalOptions: {
      get: function () {
        return this.$store.state.assignmentGoalOptions
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setAssignmentGoalOptions', newValue)
      }
    },
    businessClassificationCodeOptions: {
      get: function () {
        return this.$store.state.businessClassificationCodeOptions
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setBusinessClassificationCodeOptions', newValue)
      }
    },
    selectedHsaCommissionMemberCode: {
      get: function () {
        return this.$store.state.selectedHsaCommissionMemberCode
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSelectedHsaCommissionMemberCode', newValue)
      }
    }
  },
  mounted: function () {
  },
  methods: {

    escapeCharacters: function (input) {
      return input.replace(/[-/\\^$*+?,@<>.=%;!&~#()|[\]{}]/g, '%5C$&');
    },
    fetchObjectDetails: function (type, path) {
      console.log('object details: ' + path)
      let variablesPart = '{}'
      let operationName = ''

      var detailedViewRequestQuery = '{' + type.toLowerCase() + '(path: "' + path.replace(/ /g, '%20') + '")  { name hsaIdentity  telephoneNumber dropInHours {timeSpan {fromDay toDay fromTime2 toTime2 }} hsaVpwWebPage displayOption description hsaAltText street visitingHours {timeSpan {fromDay toDay fromTime2 toTime2 }} jpegPhoto hsaJpegLogotype orgNo mail route hsaBusinessType  hsaTelephoneNumber businessClassificationName metaData { path numSubordinates  numAllSubordinates }  } ' +
        ' }'
      // override
      if (type.trim() === 'employee') {
        detailedViewRequestQuery = '{' + type.toLowerCase() + '(path: "' + path.replace(/ /g, '%20') + '")  { name description hsaIdentity telephoneNumber mail   metaData { path numSubordinates  numAllSubordinates }  } ' +
          ' }'
      }
      let detailedViewrequestBody = {
        'query': detailedViewRequestQuery,
        'variables': variablesPart,
        'operationName': operationName
      }
      // console.log('simplesearch query: ' + JSON.stringify(detailedViewrequestBody))
      axios.post(
        // GRAPHQL_API,
        process.env.VUE_APP_GRAPHQL_API_URL,
        detailedViewrequestBody, {
          headers: {
            'Content-Type': 'application/json'
          }
        }
      )
        .then(response => {
          let result = response.data
          console.log('Fetch object details result: ' + JSON.stringify(result))
          if (result.data.unitDetails !== null) {
            // cache retrieved matches and redirect to results view
            if (type.trim() === 'unit') {
              // console.log('Stringify!: ' + JSON.stringify(result.data.unit))
              this.selectedObject = result.data.unit
            } else if (type.trim() === 'employee') {
              this.selectedObject = result.data.employee
            } else if (type.trim() === 'function') {
              this.selectedObject = result.data.function
            } else if (type.trim() === 'organization') {
              this.selectedObject = result.data.organization
            }
            // save selected object for detailView
            this.$localStorage.set('selectedObject', this.selectedObject)
            // console.log('saved object: ' + JSON.stringify(this.$localStorage.get('selectedObject')))
          } else if (result.error !== null && typeof response.error !== 'undefined') {
            this.$store.commit('setShowBox', true)
            this.$store.commit('setMessage', response.error.message)
            // alert('Error Message' + response.error.message + '\n search path: ' + response.error.path)
          } else {
            console.log('no results found')
          }
          this.$modal.show('short-view-modal');
        })
        .catch((error) => {
          // errorHandler.handlerError(error)
          console.log('Error: ' + error)

          this.$store.commit('setShowBox', true)
          this.$store.commit('setMessage', error)
        })
    },
    createCookie: function (key, value) {
      this.$cookie.set(key, value, 365);
    },
    readCookie: function (key1) {
      var key = escape(key1) + '=';
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        while (cookie.charAt(0) === ' ') {
          cookie = cookie.substring(1, cookie.length);
        }
        if (cookie.indexOf(key) === 0) {
          return cookie.substring(key.length, cookie.length);
        }
      }
      return 10
    },
    showObjectSimplified: function (type, path) {
      // console.log('link: ' +  config.ORGANIZATION_API + '/search/' + this.searchInput.trim() + '?offset=' + 0 + '&size=' + 200) counties/%C3%96ster%20l%C3%A4n
      let variablesPart = '{}'
      let operationName = ''

      var detailedViewRequestQuery = '{' + type + '(path: "' + path.replace(/ /g, '%20') + '")  { name type description hsaIdentity telephoneNumber orgNo mail  hsaVpwWebPage  metaData { path numSubordinates  numAllSubordinates }  } ' +
        ' }'
      // override
      if (type.trim() === 'employee') {
        detailedViewRequestQuery = '{' + type + '(path: "' + path.replace(/ /g, '%20') + '")  { name type description hsaIdentity telephoneNumber mail   metaData { path numSubordinates  numAllSubordinates }  } ' +
          ' }'
      }
      let detailedViewrequestBody = {
        'query': detailedViewRequestQuery,
        'variables': variablesPart,
        'operationName': operationName
      }
      // console.log('simplesearch query: ' + JSON.stringify(detailedViewrequestBody))
      axios.post(
        // GRAPHQL_API,
        process.env.VUE_APP_GRAPHQL_API_URL,
        detailedViewrequestBody, {
          headers: {
            'Content-Type': 'application/json'
          }
        }
      )
        .then(response => {
          let result = response.data
          console.log('result: ' + JSON.stringify(result))
          if (result.data.unitDetails !== null) {
            // cache retrieved matches and redirect to results view
            if (type.trim() === 'unit') {
              // console.log('Stringify!: ' + JSON.stringify(result.data.unit))
              this.selectedObject = result.data.unit
            } else if (type.trim() === 'employee') {
              this.selectedObject = result.data.employee
            } else if (type.trim() === 'function') {
              this.selectedObject = result.data.function
            } else if (type.trim() === 'organization') {
              this.selectedObject = result.data.organization
            }
            // save selected object for detailView
            this.$localStorage.set('selectedObject', this.selectedObject)
            // console.log('saved object: ' + JSON.stringify(this.$localStorage.get('selectedObject')))
          } else if (result.error !== null && typeof response.error !== 'undefined') {
            this.$store.commit('setShowBox', true)
            this.$store.commit('setMessage', response.error.message)
            // alert('Error Message' + response.error.message + '\n search path: ' + response.error.path)
          } else {
            console.log('no results found')
          }
          this.$modal.show('short-view-modal');
        })
        .catch((error) => {
          // errorHandler.handlerError(error)
          console.log('Error: ' + error)

          this.$store.commit('setShowBox', true)
          this.$store.commit('setMessage', error)
        })
    },
    onPageSizeChange: function (event) {
      let d = new Date();
      d.setTime(d.getTime() + (1 * 365 * 60 * 60 * 1000));

      this.createCookie('resultsPerPage', event.target.value, d.toUTCString())
      console.log('cookie created: ' + this.readCookie('resultsPerPage'))
    },
    onPageChange: function () {
      // eslint-disable-next-line no-console
    },
    showReadMore: function () {
      this.readMore = !this.readMore
    },

    formatPath(value) {
      // console.log(value.replace('/', '>>'))
      if (typeof value === 'undefined') {
        return value
      }
      return value
        .replace(new RegExp('/', 'g'), ' » ')
        .replace('country >> SE >> county >> ', '')
    },
    showPreviousSearchPage() {
      console.log('previous page: ' + this.$session.get('previousSearchPage'))
      if (this.$session.get('previousSearchPage')) {
        this.$router.push('/' + this.$session.get('previousSearchPage') + '/')
      } else {
        this.$router.push('/' + this.$route.query.sourcePage + '/')
      }
    },
    showDetailedSearch() {
      this.$router.push('/detailedSearch/')
    },
    concatEmployeesPersons() {
      const sortedEmployees = _.orderBy(this.employees, [employee => employee.name.toLowerCase()], ['asc']);
      return sortedEmployees
    },
    concatOrganizationsUnitsFunctions() {
      const organizationsUnitsFunctions = _.orderBy(this.organizations.concat(this.units.concat(this.functions)), [organizationsUnitsFunction => organizationsUnitsFunction.name.toLowerCase()], ['asc']);
      return organizationsUnitsFunctions // _.orderBy(this.organizations.concat(this.units.concat(this.functions)),'name'.toLowerCase(),['ASC'])
    },
    doPaginationForEmployeesAndPersons() {
      let start = (this.currentPageEmployeesAndPersons - 1) * this.numberOfResultsPerPage
      return this.concatEmployeesPersons().slice(start, start + this.numberOfResultsPerPage)
    },
    doPaginationForOrganizationsAndUnits() {
      let start = (this.currentPageOrganizationsAndUnits - 1) * this.numberOfResultsPerPage
      return this.concatOrganizationsUnitsFunctions().slice(start, start + this.numberOfResultsPerPage)
    },
    doPaginationForHsaCommisions() {
      let start = (this.currentPageHsaCommisions - 1) * this.numberOfResultsPerPage
      return this.HsaCommissions.slice(start, start + this.numberOfResultsPerPage)
    },
    calculateNumberOfPagesForEmployeesAndPersons() {
      return (this.concatEmployeesPersons().length % this.numberOfResultsPerPage) === 0 ? Math.trunc(this.concatEmployeesPersons().length / this.numberOfResultsPerPage) : Math.trunc(this.concatEmployeesPersons().length / this.numberOfResultsPerPage) + 1
    },
    calculateNumberOfPagesForOrganizationsAndUnits() {
      return (this.concatOrganizationsUnitsFunctions().length % this.numberOfResultsPerPage) === 0 ? Math.trunc(this.concatOrganizationsUnitsFunctions().length / this.numberOfResultsPerPage) : Math.trunc(this.concatOrganizationsUnitsFunctions().length / this.numberOfResultsPerPage) + 1
    },
    calculateNumberOfPagesForHsaCommisions() {
      return (this.HsaCommissions.length % this.numberOfResultsPerPage) === 0 ? Math.trunc(this.HsaCommissions.length / this.numberOfResultsPerPage) : Math.trunc(this.HsaCommissions.length / this.numberOfResultsPerPage) + 1
    },
    formatTelephoneNumber: function (number) {
      let backendPhoneNumber = number
      // Remove country code
      backendPhoneNumber = backendPhoneNumber.replace(/\+45/i, ''); // Denmark
      backendPhoneNumber = backendPhoneNumber.replace(/\+46/i, ''); // Sweden
      backendPhoneNumber = backendPhoneNumber.replace(/\+47/i, ''); // Norway
      backendPhoneNumber = backendPhoneNumber.replace(/\+358/i, ''); // Finland

      let areaCode = '';
      let phoneNumber = ''
      let foundAreaCode = false;
      // Run through all area codes to see if the back end phone number starts with it.
      // If it does, store the area code and phone number.
      for (var i = 0; i < validAreaCodes.length; i++) {
        let index = backendPhoneNumber.indexOf(validAreaCodes[i])
        if (index === 0) {
          areaCode = validAreaCodes[i]
          phoneNumber = backendPhoneNumber.slice(areaCode.length, backendPhoneNumber.length)
          foundAreaCode = true
          break
        }
      }
      // If area code isn't found in list of area codes, assume that first 3 chars are the area code and rest is number.
      if (!foundAreaCode) {
        areaCode = backendPhoneNumber.slice(0, 3);
        phoneNumber = backendPhoneNumber.slice(3, backendPhoneNumber.length)
      }

      // Do some formatting. put a '0' in front of area code.
      areaCode = '0' + areaCode
      // Format the phone number by entering blanks depending on phone number length.
      switch (phoneNumber.length) {
        case 5:
          phoneNumber = phoneNumber.slice(0, 3) + ' ' + phoneNumber.slice(3, 5);
          break;
        case 6:
          phoneNumber = phoneNumber.slice(0, 2) + ' ' + phoneNumber.slice(2, 4) + ' ' + phoneNumber.slice(4, 6);
          break;
        case 7:
          phoneNumber = phoneNumber.slice(0, 3) + ' ' + phoneNumber.slice(3, 5) + ' ' + phoneNumber.slice(5, 7);
          break;
        case 8:
          phoneNumber = phoneNumber.slice(0, 3) + ' ' + phoneNumber.slice(3, 6) + ' ' + phoneNumber.slice(6, 8);
          break;
        case 9:
          phoneNumber = phoneNumber.slice(0, 3) + ' ' + phoneNumber.slice(3, 6) + ' ' + phoneNumber.slice(6, 9);
          break;
      }
      let formattedPhoneNumber = areaCode + '-' + phoneNumber
      return formattedPhoneNumber
    },
    toggleShowFilter: function () {
      this.showFilter = !this.showFilter
    },
    // Use this because Array.split() on empty string returns [''] which is not what we need atm.
    customSplit: function (stringArray, separator) {
      const a = stringArray.toString().split(separator)
      if (a[0] === '' && a.length === 1) return []
      return a
    }
  },
  watch: {
    storedMatches: function (newValue, oldValue) {
      // console.log('inside watch: ' + JSON.stringify(newValue))
      this.matches = JSON.parse(JSON.stringify(newValue))
      this.units = this.matches.units
      this.functions = this.matches.functions
      this.organizations = this.matches.organizations
      this.employees = this.matches.employees
    }
  }
}
</script>

<style>
</style>
