<template>
  <section role="main">
    <h1>{{$t("simpleSearching")}} </h1>

    <label for="omniboxSearch01" class="py-1">Hitta person eller enhet</label>

    <div
      class="btn-group omnibox container-fluid p-0"
      role="group"
      aria-label="sökfält med filter"
      v-on:keyup.enter="doSimpleSearch(); showResults=true"
    >
      <div class="btn-group" role="group">
        <a
          href="#"
          id="filter-button"
          class="btn btn-secondary btn-group-prepend toggle-sidebar toggle-filters"
          @click="toggleSidebar()"
          title="filtrera din sökning"
        >
          <i class="fa fa-filter"></i>
        </a>
      </div>
      <input
        v-model="searchInput"
        type="search"
        id="omniboxSearch01"
        name="q"
        placeholder="Namn, titel, arbetsplats, ort och/eller HSA-id"
        class="form-control rounded-0 border-left-0"
        @change="onPageChange()"
      />

      <button
        class="btn btn-lg omnibox-btn text-nowrap"
        type="button"
        id="submit-button"
        @click="doSimpleSearch(); showResults=true"
      >
        {{ $t("search") }}
        <i class="fa fa-search"></i>
      </button>
    </div>
    <div
      class="row no-gutters py-2 mt-4"
      v-if="(this.units.length + this.functions.length + this.persons.length + this.organizations.length) > 0 || resultView"
    >
      <div class="col-md-6 text-right">
        <span
          v-if="(this.units.length + this.functions.length + this.persons.length + this.organizations.length) > 0 || resultView"
        >
          Gör en
          <a @click="showDetailedSearch" href="#/detailedSearch">{{$t('detailedSearching')}}</a>
        </span>
      </div>
    </div>

    <div class="row no-gutters border-top border-bottom py-2 mt-4">
      <div class="col-md-6 border-right filter-search-wrapper">
        <i>
          Sökfilter:
        </i>
        <div class="filter-search-wrapper" id="search-filters">
          <span ><i>{{formatPath(selectedSearchArea.path.replace(/countries\/|counties\/|organizations\/|units\/|functions\//g, ''))}}</i></span>
          <span v-for="(type, i) in searchTypes" :i="++i" v-bind:key="i"><i>{{type}} </i></span>

        </div>
      </div>
      <div class="col-md-6 text-right">
        <a
          v-if="!resultView && (units.length + functions.length + persons.length + organizations.length) === 0 "
          href="#" class=" toggle-sidebar toggle-filters " @click="toggleSidebar()"
        >Filtrera</a>
        <a
          v-else
          @click="showReadMore()"
          class="mock-link toggle-sidebar toggle-filters active"
          href="#"
          role="button"
        >
          Läs
          och filtrera
        </a>
      </div>
    </div>

    <div
      class="row no-gutters border-bottom py-2"
      v-if="(units.length + functions.length + persons.length + organizations.length) === 0"
    >
      <span>
        Gör en
        <a @click="showDetailedSearch" href="#/detailedSearch">{{$t('detailedSearching')}}</a>
        {{$t('instead')}}
      </span>
    </div>
  </section>
</template>

<script>
import ResultsView from './resultsView.vue';

export default {
  components: { ResultsView },
  name: 'simpleSearch',
  row: {
    name: '',
    path: '',
    type: '',
    link: ''
  },
  matches: [{}],
  hideInputField: false,
  readMore: false,
  totalHits: 0,
  countries: [{}],
  counties: [{}],
  organizations: [{}],
  functions: [{}],
  employees: [{}],
  persons: [{}],
  otherMatches: [{}],
  hierarchy: [],
  props: {
    name: 'simpleSearch',
    resultView: false
  },
  data() {
    return {
      matches: [],
      // searchTypes: ['Person', 'Organisation eller enhet', 'Medarbetaruppdrag'],
      showResults: this.resultView,
      hideInputField: false,
      readMore: false,
      totalHits: 0,
      countries: [],
      counties: [],
      organizations: [],
      units: [],
      functions: [],
      employees: [],
      persons: [],
      HsaCommissions: [],
      otherMatches: [],
      activetab: 1,
      responseBody: [],
      // pagination related
      currentPage: 1,
      bootstrapPaginationClasses: {
        // http://getbootstrap.com/docs/4.1/components/pagination/
        ul: 'pagination',
        li: 'page-item',
        liActive: 'active',
        liDisable: 'disabled',
        button: 'page-link'
      }
    };
  },
  computed: {
    storedMatches: {
      get: function() {
        return this.$store.state.searchResults;
      },
      set: function(newValue) {
        this.$store.commit('setSearchResults', newValue);
      }
    },
    searchInput: {
      get: function() {
        return this.$store.state.searchInput;
      },
      set: function(newValue) {
        this.$store.commit('setSearchInput', newValue);
      }
    },
    selectedSearchArea: {
      get: function () {
        return this.$store.state.selectedSearchArea
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSelectedOption', newValue)
      }
    },
    exactMatch: {
      get: function () {
        return this.$store.state.exactMatch
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setExactMatch', newValue)
      }
    },
    searchTypes: {
      get: function () {
        return this.$store.state.searchTypes
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setSearchTypes', newValue)
      }
    },
    showFilter: {
      get: function () {
        return this.$store.state.showFilter
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setShowFilter', newValue)
      }
    },
    className: {
      get: function () {
        return this.$store.state.className
      },
      // setter
      set: function (newValue) {
        this.$store.commit('setClassName', newValue)
      }
    }
  },
  mounted: function () {
    this.$store.commit('setShowBox', false)
  },
  created: function () {
    // console.log(process.env.ORGANIZATION_API)
    window.addEventListener('keyup.enter', this.doSimpleSearch)
  },
  methods: {
    getSearchTypeText: function(key) {
      if (key === 'Employee') {
        return 'Person'
      } else if (key === 'Organisation eller enhet') {
        return 'Organisation eller enhet'
      } else if (key === 'HsaCommission') {
        return 'Medarbetaruppdrag'
      }
      return key
    },
    toggleSidebar: function () {
      // console.log('Toggling sidebar');
      console.log('ShowFilter in simplesearch: ' + this.showFilter)

      this.showFilter = !this.showFilter;
      // this.$router.push('#/search') // refresh to rerender side bar
    },
    onPageChange: function () {
      // eslint-disable-next-line no-console
      // console.log(`"currentPage" has been changed`)
    },
    doSimpleSearch: function () {
      if (this.searchInput.trim() === '') {
        this.$store.commit('setShowBox', true)
        this.$store.commit('setMessage', 'Du har inte skrivit något i sökfälten. Skriv och försök igen.')
        return
      }
      this.$store.commit('setShowBox', false)
      this.$session.set('previousSearchPage', 'simpleSearch')
      this.$router.push({ name: 'resultsView',
        query: {
          sourcePage: 'simpleSearch',
          simpleSearchInput: this.searchInput,
          selectedSearchAreaName: this.selectedSearchArea.name,
          selectedSearchAreaPath: this.selectedSearchArea.path,
          exactMatch: this.exactMatch,
          searchTypes: JSON.stringify(this.$session.get('searchTypes'))
        }
      })
    },
    showReadMore: function () {
      this.readMore = !this.readMore
    },

    formatPath(value) {
      // console.log(value.replace('/', '>>'))
      if (typeof value === 'undefined') {
        return value
      }
      return value
        .replace(new RegExp('/', 'g'), ' » ')
        .replace('country >> SE >> county >> ', '')
    },
    showDetailedSearch() {
      this.$router.push('/detailedSearch/')
    },
    updateSearchTypes: function () {
      if (this.searchTypes.indexOf('Person') !== -1) {
        // enable person related search fields
        console.log('search types:' + this.searchTypes)
      } else if (this.searchTypes.indexOf('Organisation eller enhet') !== -1) {
        // add unit to search type
        console.log('search types:' + this.searchTypes)
      } else if (this.searchTypes.indexOf('Medarbetaruppdrag') !== -1) {
        // add organization to search typ
        console.log('search types:' + this.searchTypes)
      }
      /*
      this.$session.remove('searchTypes')
      this.$session.set('searchTypes', this.searchTypes)
      */
    }

  },
  watch: {
    searchInput: function (newText, oldText) {
      // change of searchInput, do something
      //  this.$store.commit('setShowBox', true)
      //  this.$store.commit('setMessage', 'searching for:  ' + val)
      // emit the message status changed event to parent
      // this.$emit("showMessageBox", true, "message body comes here");
      // alert(this.searchInput)
      if (this.searchInput.indexOf('*') !== -1) {
        this.searchInput = newText.replace('*', '')
      }
      // do search after 3 letters
      /* if (this.searchInput.length >= 3)
      {
         // this.doSimpleSearch()
      } */
    }
  }
}
</script>

<style>
section[role='main'] {
  max-width: 50em;
  margin: 0 auto;
}
</style>
